argparse
boto
django-boto
django-storages
mock
wsgiref
#django-registration
django-allauth
django-gravatar2
django-jquery
#django-suit
micawber
django-grappelli
python-boxview
python-magic
django-bootstrap-form
django-bootstrap3-datetimepicker