.header {
    visibility: hidden;
}
#menu_submit {
    display: none;
}

#login {
    display: none;
}

.container {
    margin-top: 1em;
    width: 95%;
}

/*#menu_submit:after {*/
/*  content:'Add'; */
/*  visibility: visible;*/
/*}*/


#top_banner {
    display:none;
}

#menu .menu_text {
    visibility: hidden;
    display:none;
}

#menu li {
    /*width: 80px;*/
    /*min-height: 80px;*/
}

#content {
    font-size: 150%;
}
#menu .glyphicon {
    font-size: 2em;
    padding: 0em 30%;
}

#splash, #menu_twitter, #menu_email, .breadcrumb {
    display: none;
    visibility: hidden;
}
#link_form .subject, #link_form .syllabus, #link_form .unit, #link_form .unit_topic{
    width: 100%;

}
#link_submit button{
    display: table;
    margin: 0 auto;
}

#link_submit {
    margin-top: 1em;
}

.small_form {
    width: 100%;
}