.header h1 {
    font-size: 1.5em;
}
#menu_submit {
    display: none;
}

#login {
    display: none;
}

.container {
    margin-top: 1em;
    width: 95%;
}

/*#menu_submit:after {*/
/*  content:'Add'; */
/*  visibility: visible;*/
/*}*/


#top_banner {
    display:none;
}

#menu .menu_text {
    visibility: hidden;
    display:none;
}

#menu li {
    /*width: 80px;*/
    /*min-height: 80px;*/
}

#content {
    font-size: 150%;
}
#menu .glyphicon {
    font-size: 2em;
    padding: 0em 30%;
}

#splash, #menu_twitter, #menu_email, #breadcrumb {
    display: none;
    visibility: hidden;
}
