
a, a:hover, a:active, a:visited {
    color:darkblue;
    text-decoration:none;
}

h1 {
    font-weight: normal;
    font-size: 2.2em;
    font-weight: 300;
    font-family: helvetica,arial,freesans,clean,sans-serif;
}

h3, h4, h5, h6 {
    font-family: helvetica,arial,freesans,clean,sans-serif;
    color: #999;
    font-weight: normal;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    font-weight: 300
}

h2 {
    font-size: 1.9em;
    margin-top: 0;
    text-align: center;
    font-weight: 300;
    font-family: helvetica,arial,freesans,clean,sans-serif;
}
h3 {
    font-size: 1.6em;

}
h4 {
    font-size: 1.4em;
        
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.3em;
}

#splash {
    width: 100%; height:25em; background-image: url(/static/uploader/img/splash/books.jpg);
    background-size: 100%;
}
#source {
    position:absolute;
    top: 480px;
    left: 25px;
    font-size: 0.8em;
    font-style: italic;
    color: #fff;
}

 menu 
#menu .glyphicon {
    color: #666;
}


.navbar-right img {
    display: inline-block;
    float: left;
    margin-right: 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
}

#score {
    font-size: 0.8em;
    font-weight: bold;
}

.highlight {
    overflow: auto;
    word-wrap: normal;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 0 .5em #ccc;
    padding: .7em 1em;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
    font-size: 1.25em;
    background-color: #fbfaf9;
}

.header{
    padding: 10px 0px;
    background: #f5f5f5;
    background: #fff;
}
.header h1 {
    line-height:20px;
    padding: 0px 30px;
}
.header h1 a {
    font-weight: normal;
    text-decoration: none;
}
.logo h1{
    position: absolute;
    margin-top: -40px;
    margin-left: 40px;
}

.container {
    background-color: #fff;
    margin-top: 5px;
    clear: both;
    color: #333;
    padding: 20px 20px 40px 20px;
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    min-height: 500px;
}
#footer {
    font-size: 0.8em;
    border-top: 1px dotted #bdbdbd;
    clear: both;
    padding: 6px 10px;
    text-align: center;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}
#top_banner {
    width: 728px; 
    position: absolute; 
    margin-left: 350px; 
    margin-top: -80px
}
#notes img {
    margin: 0 auto;
    display:block;
}
.link_or_embed iframe {
    display:block;
    margin: 0 auto;
}
 tiles 
#lesson_items {
    width: 93%;
    margin: 0 auto;
}
#lesson_items li {
        text-align: center;
        padding: 5px;
        width: 300px;
        min-height: 150px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
        _height: 250px;
}
#lesson_items li {
    padding: 5px;
    width: 20%;
    border: 1px solid #E5E5E5;
    background-color: #FCFCFC;
    text-align: left;
}
#lesson_items li:hover {
    border: 1px solid #cc0000;
}
.task_num {
    float: right;
    font-size: 300%;
}
 download page 
#resource_details {
    overflow: hidden;
}
#uploader {
    padding:5px 0;
}
#syllabus {
    padding:5px 0;
    font-size: 0.7em;
    color: #999;
}
#rating {
    padding:5px 0;
}
#description {
    padding:15px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #FCFCFC;
    border: 1px solid #E5E5E5;
    font-size: 0.8em;
}

#author, #uploader {
    padding:5px 0;
    font-size:0.8em;
}
#published {
    font-size: 0.7em;
    color: #999;
    padding:5px 0;
}
#link a {
    vertical-align: middle;
}
.shortcuts {
  position: fixed;
  margin-left: -60px;
  margin-top: 150px;
}
.actions {
    margin: 15px 0;
}

* rating 

#rating {
    float: left;
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-left: 5px;
}
#rating > span {
  display: inline-block;
  position: relative;
  width: 0.8em;
}
#rating > a:hover:before,
#rating > a:hover ~ a:before {
   content: "\2605";
   position: absolute;
}
#rating a {
    text-decoration:none;
    color: black;
}

* extra stuff 
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1em;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

hr {
    border: 1px dashed #bdbdbd;
    margin-bottom: 10px;
    margin-top: 10px;

}


* containers *
.action {
    text-align: center;
}

.paging {
    font-size: 120%;
}

.small_form {
    width: 50%;
    margin: 0 auto;
}


#add-to-lesson {
    float: right;
}

.instructions {
    width: 70%;
}

.order {
    float: right;
    width: 20%;
    position: absolute;
    margin-left: 60%;
}

.favourite {
    float: right;
}

.link_or_oembed {
    overflow-y: scroll; /* has to be scroll, not auto or hidden */
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding-bottom: 90%; // (450 รท 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.link_or_oembed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#notes li {
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}
#notes p {
    line-height: 1.8;
}
    

#menu_home {
    margin-left: -35px;
}

form .label-danger {
    float: right;
} 
a.btn-primary {
    color: white !important;
}
.thumbnail {
    min-height: 6em;
}
.modal-dialog {
     width: 80% !important;
}
.breadcrumb {
    background-color: #FCFCFC;
}
.btn-success, .btn-info {
    color: white !important;
}
.panel-heading .toggle-button:after {
     symbol for "opening" panels 
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";    
    float: right;   
    color: grey;
}
.panel-heading .toggle-button.collapsed:after {
     symbol for "collapsed" panels 
    content: "\e080"; 
}
#link_form {
    margin-top: 2em;
}
#link_form .subject, #link_form .syllabus, #link_form .unit, #link_form .unit_topic{
    width: 22%;
    float:left;
    margin-right: 1%;
}
#link_submit {
    padding-top: 25px;
    margin-top: 2.1%;
    clear: left;
}

.highlighted {
    background-color: yellow;
    font-weight: bold;
}
.nav .navbar-nav {
    padding: 0px;
    border: 1px solid black;
}
.collapse .navbar-collapse {
    border: 1px solid black;
}

.navbar-nav > li > a, .navbar-brand {
    padding:11px !important;
    height: 34px;
    margin-left: 0 !important;
}
.navbar {min-height:42px !important;}
.input-xs {
height: 26px;
padding: 2px 5px;
font-size: 12px;
line-height: 1.8;
border-radius: 3px;
}
.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

table .glyphicon {
    font-size:1.4em
}
.dropdown-menu .glyphicon {
    font-size: 1.0em;
}
.dataTables_scrollBody {
    overflow: visible !important;
}
th { white-space: nowrap; }

.btn-default .glyphicon {
    color: black;
}
.order {

}
.instructions {
    width: 60%;
}
a.btn.btn-default {
    color: black;
}
.label-danger {
    float: right;
}
.table > tbody > tr > td {
     vertical-align: middle;
}