{% extends 'uploader/base.html' %}
{% block body_block %}
<h2>About</h2>
<p>
    openTeach was created in February 2015. It was a bit of a reaction to 
    <a href="https://medium.com/@kieran.hogg/the-great-educational-lock-in-675f9cda3d38">
    this article</a></a> I wrote. It was mainly a rant about how teachers are 
    eternally locked into products or workflows where we keep re-making 
    resources.
</p>
<p>
    Even though there's lots of amazing resource sites out there, I found that
    teaching for mainly exam classes, generic resources weren't good enough
    and I was ironically making all of my own resources from scratch.
</p>
<p>
    If I could have found good quality exam-specific resources that would have
    been great. That is what this site is for; it aims to be the best curated
    resources for any given exam board.
</p>
<h3>Technical</h3>
<p>
    openTeach is written in Python using the Django framework. The source code
    is available at Github, bug reports and pull requests are welcome. 
    I am good and neither Django or Web design, so any improvements in those
    areas are very welcome.
</p>
<p>
    If you have a problem and don't know what Github is, contact me on twitter 
    <a href="https://twitter.com/kieranhogg">@kieranhogg</a>.
</p>
{% endblock %}