{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<div class="jumbotron">
<h1>{% block head_title %}Features{% endblock %}</h1>
<h2>Lessons</h2>
<p>You can combine resources to create a lesson. This will give you both a version to use on the big screen and a 
version for students to access the resources.</p>
<div class="text-center">
    <img src="{% static 'uploader/img/features/1.png'%}" class="img-thumbnail" alt="IWB Lesson" height="70%" width="70%"><br /><br />
    <img src="{% static 'uploader/img/features/2.png'%}" class="img-thumbnail" alt="Student Lesson" height="70%" width="70%">
</div>
<h2>Resources</h2>
<p>The site can host different types of resources, files, bookmarks, notes (wiki-style pages) and questions. Everything you might
need for a lesson or revision.</p>
<div class="text-center">
    <img src="{% static 'uploader/img/features/6.png'%}" class="img-thumbnail" alt="Notes"><br /><br />
    <img src="{% static 'uploader/img/features/7.png'%}" class="img-thumbnail" alt="File"><br /><br />
    <img src="{% static 'uploader/img/features/8.png'%}" class="img-thumbnail" alt="Bookmark"><br /><br />
    <img src="{% static 'uploader/img/features/3.png'%}" class="img-thumbnail" alt="Resource types">

</div>

<h2>Tests</h2>
<p>You can assign a set of questions to a lesson task to assess student understanding of the topics you have taught.
Students can get feedback instantly.</p>
<div class="text-center">
    <img src="{% static 'uploader/img/features/4.png'%}" class="img-thumbnail" alt="Questions" height="70%" width="70%"><br /><br />
    <img src="{% static 'uploader/img/features/5.png'%}" class="img-thumbnail" alt="Feedback" height="70%" width="70%">
</div>
</div>
<h2>About</h2>
<p>
    eduResourc.es was created in February 2015 to try to prevent teachers from 
    re-making resources all the time.
</p>
<p>
    Even though there's lots of amazing resource sites out there, I found that
    teaching for mainly exam classes, generic resources weren't good enough
    and I was ironically making all of my own resources from scratch.
</p>
<p>
    If I could have found good quality exam-specific resources that would have
    been great. That is what this site is for; it aims to be the best curated
    resources for any given exam board.
</p>
<h3>Technical</h3>
<p>
    eduResourc.es is written in Python using the Django framework. The source code
    is available at <a href="https://github.com/xerosis/openResources">Github</a>, bug reports and pull requests are welcome. 
    I am good and neither Django or Web design, so any improvements in those
    areas are very welcome.
</p>
{% endblock %}
