{% extends 'uploader/base.html' %}
{% block body_block %}
<h2>About</h2>
<p>
    eduResourc.es was created in February 2015 to try to prevent teachers from 
    re-making resources all the time.
</p>
<p>
    Even though there's lots of amazing resource sites out there, I found that
    teaching for mainly exam classes, generic resources weren't good enough
    and I was ironically making all of my own resources from scratch.
</p>
<p>
    If I could have found good quality exam-specific resources that would have
    been great. That is what this site is for; it aims to be the best curated
    resources for any given exam board.
</p>
<h3>Technical</h3>
<p>
    eduResourc.es is written in Python using the Django framework. The source code
    is available at <a href="https://github.com/xerosis/openResources">Github</a>, bug reports and pull requests are welcome. 
    I am good and neither Django or Web design, so any improvements in those
    areas are very welcome.
</p>
{% endblock %}
