{% extends 'uploader/base.html' %}
{% block body_block %}
{% load bootstrap %}

<h2>{% block head_title %}
{% if form.instance.id %}
    Edit 
{% else %}
   Add 
{% endif %}
Bookmark{% endblock %}</h2>
<p>Bookmarks will automatically embed content where possible from the 
link bookmarked, e.g. Youtube videos, Wikipedia articles etc., full list:
<a href="http://embed.ly/providers">here</a>.</p>
{% if form.non_field_errors %}
    <div class="error">
    {% for error in form.non_field_errors %}
        {{error}}
    {% endfor %}
    </div>
{% endif %}

{% if not user.is_authenticated %}
<p>If you are not logged in, your resource will wait to be approved. To skip 
this in future, please register and log in first.</p>
{% endif %}

<form role="form" action method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {% if field.field.required %}<span class="label label-danger">required</span>{% endif %}
        {{ field|bootstrap }}
    </div>
    {% endfor %}
    
    
    <div class="form-group text-center">
    {% if form.instance.id %}
        <button type="submit" class="btn btn-success">Update</button>
    {% else %}
        <button type="submit" class="btn btn-success">Next</button>
    {% endif %}
    </div>
</form>
{% endblock %}