{% extends 'uploader/base.html' %}
{% load bootstrap %}
{% block body_block %}
{% load static %}
<style type="text/css">
/* Place both meltdowns at the top for easier testings (in a large enough window): */
.meltdown_wrap { display: inline-block; vertical-align: top; }
</style>
<h1>{% block head_title %}{{ unit_topic.title }} Notes{% endblock %}</h1>
<p>Notes are written in Markdown format <a class='btn btn-default btn-xs' href="javascript:void(0);" onclick="$('#syntax').toggle();">View/hide syntax</a>
</p>
<div id='syntax' style='display:none'>
<h3>Formatting</h3>
<pre>
# title
## subtitle
### subsubtitle
.. etc

*This text will be italic*
**This text will be bold**

* Bullet lists
* start
* with bullets

1. Numbered lists
2. start 
3. with numbers
</pre>
<h3>Linking</h3>
<pre>

[Link title](http://address.com) - Link to a website
[[Topic]] or [[Topic#Title]] - Link to another page's notes (only works within the same syllabus)
@[image](code) - Add an uploaded image using its quickcode
@[resource](code) - Embed a resource using its quickcode
    
</pre></div>
<p><strong>Note:</strong> the preview does not always display correctly, so check the final saved version to be sure.</p>
<div class="alert alert-info" role="alert">
	<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
	Note locked by 
	{% if note.locked_by == request.user %}
		you
	{% else %}
		<strong>{{ note.locked_by }}</strong>
	{% endif %}
	 for editing until <strong>{{ note.locked_until }}</strong>
</div>
<form role="form" action method="post" novalidate>
    {% csrf_token %}
    {{ form.content|bootstrap }}
    <label>Change description (optional)</label>
    <input class='form-input' {% if note.locked %} disabled='disabled' {% endif %}/>

<div class="form-group text-center">
    <input type="submit" name="renew" class="btn btn-info" value="Renew lock" {% if note.locked and note.locked_by != request.user %} disabled='disabled' {% endif %} />
    <input type="submit" name="submit" class="btn btn-success" value="Update" {% if note.locked and note.locked_by != request.user %} disabled='disabled' {% endif %} />
</div>    
<h2>Upload Image</h2>
<p>Use this form to upload an image to our servers to use in the notes.</p>
<iframe src="/upload_image" width="100%" height="300" frameborder="0"></iframe>

<script src="{% static 'uploader/rangyinputs-jquery.min.js' %}"></script>
<script src="{% static 'uploader/element_resize_detection.js' %}"></script>
<script src="{% static 'uploader/js-markdown-extra.js' %}"></script>
<script src="{% static 'uploader/jquery.meltdown.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript">
jQuery(document).ready(function($) {
    document.getElementById('id_content').className += ' meltdown';
	// Variables are exposed on the window object for easy testings in your console:
	// window.m1 = $('#id_content').meltdown({
	// 	openPreview: true,
	// 	previewHeight: "auto"
	// });
	// window.m2 = $('#meltdown2').meltdown({
	// 	previewCollapses: false
	// });
	// // And this for debugging:
	// window.mm1 = m1.data("Meltdown");
	// window.mm2 = m2.data("Meltdown");
		  jQuery('#id_content').meltdown();
		  setTimeout('jQuery(".meltdown_control-preview").click();', 500);
});
</script>

{% endblock %}