{% extends 'uploader/base.html' %}
{% load bootstrap %}
{% block body_block %}
{{ media }}
<h1>{% block head_title %}
{% if form.instance.id %}
    Edit
{% else %}
    Add
{% endif %}
File{% endblock %}</h1>
{% if not user.is_authenticated %}
<p>If you are not logged in, your resource will wait to be approved. To skip 
this in future, please register and log in first.</p>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
        {{error}}
    </div>
    {% endfor %}
{% endif %}

<form role="form" enctype="multipart/form-data" action method="post">
    {% csrf_token %}

    {% for field in form %}
    <div>
        {% if field.field.required %}<span class="label label-danger">required</span>{% endif %}
        {{ field|bootstrap }}
    </div>
    {% endfor %}
    
    <div class="form-group text-center">
    {% if form.instance.id %}
        <button type="submit" class="btn btn-success">Update</button>
    {% else %}
        <button type="submit" class="btn btn-success">Next</button>
    {% endif %}
    </div>
</form>


<!--    {% for field in form %}-->
<!--    <div class="form-group">-->
<!--        {{ field.errors }}-->
<!--        {{ field.label_tag }} {{ field }}-->
<!--        {{ field.help_text }}-->
<!--    </div>-->
<!--{% endfor %}-->
<!--<br />-->
<!--{% if form.instance.id %}-->
<!--    <button type="submit" class="btn btn-success">Update</button>-->
<!--{% else %}-->
<!--    <button type="submit" class="btn btn-success">Next</button>-->
<!--{% endif %}-->
<!--</form>-->
{% endblock %}