{% extends 'uploader/base.html' %}
{% load bootstrap %}
{% block body_block %}
<h1>{% block head_title %}
{% if form.instance.id %}
    Edit 
{% else %}
   Add 
{% endif %}
Question{% endblock %}</h1>

{% if form.non_field_errors %}
    <div class="error">
    {% for error in form.non_field_errors %}
        {{error}}
    {% endfor %}
    </div>
{% endif %}
{% if not form.instance.id %}
<p>You are adding a new question to: <strong>{{ unit_topic }}</strong></p>
{% endif %}
<form role="form" action method="post" novalidate>
    {% csrf_token %}
    {{ form|bootstrap }}
    
    <div class="form-group text-center">
    {% if form.instance.id %}
        <button type="submit" class="btn btn-success">Update</button>
    {% else %}
        <button type="submit" class="btn btn-success">Save</button>
    {% endif %}
    </div>

</form>
{% endblock %}