{% load gravatar %}
{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB" prefix="og: http://ogp.me/ns#">
<head>
<script src="{% static 'js/jquery.js' %}"></script>
<title>{{ SITE_NAME }} | {% block head_title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'uploader/style.css' %}" />
</head>
<body>
<div id="container">
    <div id="header">
        <div id="logo">
            <img src="{% static 'uploader/logo_s.png' %}" />
            <h1>{{ SITE_NAME }}</h1>
        </div>
        {% try_to_include "uploader/top_banner.html" %}
        <div id="login">
                <div id='login_links'>
            {% if user.is_authenticated %}
                <span id='user_icon'>
                <a href="{% url 'uploader:profile' %}">
                    <img src="{% gravatar_url user.email 24 %}" />
                </span>
                    <span id='username'>{{ user.get_username }}</span>
                </a>
                <span id="score">({{ user.userprofile.score }})</span>
                | <a href="{% url 'account_logout' %}">Sign Out</a>
                </p>
            {% else %}
                <p>Not logged in | 
                <a href="{% url 'account_login' %}">Sign In</a> or 
                <a href="{% url 'account_signup' %}">Sign Up</a></p>
            {% endif %}
                </div>
        </div>
        <div id="search">
            <!--Search-->
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'uploader:index' %}">Home</a></li>
            <li><a href="{% url 'uploader:add_resource' %}">Submit Resource</a></li>
            <li><a href="{% url 'uploader:leaderboard' %}">Leaderboard</a></li>
            <li><a href="{% url 'uploader:about' %}">About</a></li>
            <li><a href="{% url 'uploader:contact' %}">Contact</a></li>
            {% if user.is_superuser or user.is_staff %}
            <li id="admin_button"><a href="/admin/">Admin</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {% if user_messages %}
            {% for message in user_messages %}
                <div class="{{ message.get_type_display }}">
                {% if message.get_type_display == "Sticky" %}
                    {{ message|safe }}
                {% elif message.get_type_display == "Announcement" %}
                    {{ message|safe }}
                    <div class="message_dismiss">[X]</div>
                {% else %}
                    {{ message }}
                    <div class="message_dismiss">[X]</div>
                {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block body_block %}{% endblock %}
    </div>
    <div id="footer">
        <p>
        A site by <a href="http://kieranhogg.com">Kieran Hogg</a>. Powered
        by <a href="https://github.com/xerosis/openteach">openTeach</a> 
        v{{ APP_VERSION}}.
        </p>
    </div>

</div>
</body>
</html>