{% load gravatar %}
{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name=”description” content="eduResourc.es is a learning platform which takes a content-first approach.">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'uploader/style.css' %}" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{% static 'uploader/small-devices.css' %}" />

<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'uploader/js.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.6/sorting/datetime-moment.js"></script>

<title>{{ SITE_NAME }} {% if not homepage %} | {% block head_title %}{% endblock %}{% endif %}</title>
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="{% url 'uploader:index' %}">
            <img src="{% static 'uploader/logo_s.png' %}" alt="logo" width="64" height="64" />
            <span id="site-name">{{ SITE_NAME }}</span>
            </a>
        </div>
        {% try_to_include "uploader/top_banner.html" %}
    </div>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header  hidden-lg">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'uploader:index' %}">
            <img src="{% static 'uploader/logo_s.png' %}" alt="logo" width="24" height="24" /> eduResourc.es
          </a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'uploader:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Home
            </a></li>
            <li><a href="{% url 'uploader:subjects' %}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Resources</a></li>
            <li><a href="{% url 'uploader:favourites' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favourites</a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                Add Resource <span class="caret"></span>
                {% if request.path == '/bookmark/add' or request.path == '/file/add' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'uploader:file' %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> File</a></li>
                <li><a href="{% url 'uploader:bookmark' %}"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmark</a></li>
              </ul>
            </li>
            {% if user.teacherprofile %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                My Folder <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'uploader:groups_list' %}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> My Groups</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'uploader:user_lessons' %}"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Lessons</a></li>
                <li><a href="{% url 'uploader:user_resources' %}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Resources</a></li>
                <li><a href="{% url 'uploader:user_bookmarks' %}"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmarks</a></li>
                <li><a href="{% url 'uploader:user_files' %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Files</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'uploader:user_questions' %}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Questions</a></li>
                <li class='disabled'><a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Tests</a></li>
              </ul>
            </li>
            {% endif %}
            
            <li><a href="{% url 'uploader:about' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                Contact <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">
                  <img class="menu_icon" src="{% static 'uploader/img/18x18/twitter.png' %}" alt='email' height="18" width="18"/> Twitter</a></li>
                <li><a href="#">
                  <img class="menu_icon" src="{% static 'uploader/img/18x18/email.png' %}" alt='email' height="18" width="18"/> Email</a></li>
              </ul>
            </li>
        </ul>

          <form class="navbar-form navbar-left" role="search" method="GET" action="/search/">
            <div class="form-group">
              <div class="input-group">
                <input type="text" name="q" class="form-control input-xs" placeholder="Search...">
                <span class="input-group-btn">
                  <button class="btn btn-default input-xs" type="submit">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div>
          </form>
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                
                {% if user.is_authenticated %}
                    <img src="{% gravatar_url user.email 22 %}" />
                    {% if user.teacherprofile %}
                    {{ user.teacherprofile }}
                    {% elif user.studentprofile %}
                      {{ user.studentprofile }}
                    {% endif %}
                  <span id="score">
                  {% if user.teacherprofile %}
                    ({{ user.teacherprofile.score }})
                  {% elif user.studentprofile %}
                    ({{ user.studentprofile.score }})
                  {% endif %}
                  </span>
              {% else %}
                <img src="{% gravatar_url "" 18 %}" /> Guest
              {% endif %}
                
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if user.is_authenticated %}
                  {% if user.is_superuser or user.is_staff %}
                  <li><a href="/admin/">Admin interface</a></li>
                  <li class="divider"></li>
                {% endif %}
                <li><a href="{% url 'uploader:profile' %}">Profile</a></li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'uploader:signup' %}">Sign Up</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% if homepage %}
    <div id="splash">
        <span id="source"><a href="https://www.flickr.com/photos/wackystuff/5355788728/in/photolist-9agPoY-dtroJc-59THhy-7BAEiV-5RzRtp-7JKRHh-bF51FS-hVQBKP-6iUdMZ-2bUDT-988BVE-89pQhQ-9k6cM-6YTcyf-9q7jAU-dQugec-8s4PDi-8pvSWc-6YTeg5-dynb6k-2JNeAw-2TcoEu-mpgrkA-bsSo3-zV2x5-EykCH-7G9fHf-4xWMzG-6m1PW8-5v4A14-6HLhYf-9ezxNp-6CK1od-7Cby3b-8MF9B5-9t3zWm-38hJJt-9ezxHt-bsSoM-dsxGqc-b4jsc2-6ch2aS-8YyqSQ-ayP4oL-4Kp7mS-9K29J9-6YFiWi-7ruPJx-M4Xwq-6FQEh7">
           source 
        </a></span>
    </div>
    {% endif %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block body_block %}{% endblock %}
    </div>
    <div id="footer">
        eduResourc.es v{{ APP_VERSION}}
    </div>
</body>
</html>
