{% load gravatar %}
{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>-->
<link href="{{ STATIC_URL }}jquery-autosuggest/css/autoSuggest.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/jquery-autosuggest/js/jquery.autoSuggest.minified.js"> </script>
<link href="/static/jquery-autosuggest/css/autoSuggest.css" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'jquery.fancybox.css' %}" type="text/css" media="screen" />
    <script src="/static/grappelli/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/static/grappelli/jquery/ui/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script>
  pic = new Image();
  pic.src="{% static 'uploader/img/splash/1.jpg' %}";
      $(document).ready(function() {
        $('#menu_my_resources').click(function() {
                $('#submenu_my_resources').slideToggle("fast");
        });
    });
    
    // Fix partially hidden dropdowns in tables
    $('.table-responsive tbody tr').slice(-2).find('#dropdown-toggle').addClass('dropup');


</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'uploader/style.css' %}" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{% static 'uploader/small-devices.css' %}" />

<title>{{ SITE_NAME }} {% block head_title %}{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico" />
</head>
<body>
<!--<div class="container">-->
    <div class="header">
        <div class="logo">
            <a href="{% url 'uploader:index' %}">
            <img src="{% static 'uploader/logo_s.png' %}" alt="logo" width="64" height="64" />
            <h1>{{ SITE_NAME }}</h1>
            </a>
        </div>
        {% try_to_include "uploader/top_banner.html" %}
        <div class="login">
            {% if user.is_authenticated %}
                <span id='user_icon'>
                <a href="{% url 'uploader:profile' %}">
                    <img src="{% gravatar_url user.email 24 %}" />
                </span>
                    <span id='username'>{{ user.get_username }}</span>
                </a>
                <span id="score">
                {% if user.teacherprofile %}
                ({{ user.teacherprofile.score }})
                {% elif user.studentprofile %}
                ({{ user.studentprofile.score }})
                {% endif %}
                </span>
                | <a href="{% url 'account_logout' %}">Sign Out</a>
                </p>
            {% else %}
                <a href="{% url 'account_login' %}">Sign In</a> or 
                <a href="{% url 'uploader:signup' %}">Sign Up</a></p>
            {% endif %}
            </div>
    </div>
    <div id="menu">
        <ul>
            <a href="{% url 'uploader:index' %}">
                <li id="menu_home">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <span class="menu_text">Home</span>
                </li>
            </a>
            <a href="{% url 'uploader:subjects' %}">
                <li id="menu_resources">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                <span class="menu_text">Resources</span>
                </li>
            </a>
            <a href="{% url 'uploader:favourites' %}">
                <li id="menu_favourites">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span class="menu_text">My Favourites</span>
                </li>
            </a>
            <a href="{% url 'uploader:add_resource' %}">
                <li id="menu_submit">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                <span class="menu_text">Add Resource</span>
                </li>
            </a>
            {% if user.teacherprofile %}
            <a href="{% url 'uploader:groups_list' %}">
                <li id="menu_groups">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span class="menu_text">My Groups</span>
                </li>
            </a>
            <a href="javascript:void(0)">
                <li id="menu_my_resources">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <span class="menu_text">My Folder ▾</span>
                </a>
                <ul id="submenu_my_resources">
                    <a href="{% url 'uploader:user_resources' %}"><li>
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                <span class="menu_text">
                        Resources</span></li></a>
                <a href="{% url 'uploader:user_files' %}"><li>
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                <span class="menu_text">Files</span></li></a>
                <a href="{% url 'uploader:user_bookmarks' %}"><li>
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                <span class="menu_text">Bookmarks</span></li></a>
                <!--    <a href="javascript:void(0)"><li>-->
                <!--        <img class="menu_icon" src="{% static 'uploader/img/18x18/book.png' %}" height="18" width="18"/>-->
                <!--<span class="menu_text">Notes</span></li></a>-->
                    <a href="{% url 'uploader:user_questions' %}"><li>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                <span class="menu_text">Questions</span></li></a>
                    <a href="{% url 'uploader:user_lessons' %}"><li>
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                <span class="menu_text">Lessons</span></li></a>
                </ul>
            </li>
            {% endif %}
            <!--<li id="menu_leaderboards"><a href="{% url 'uploader:leaderboard' %}">-->
            <!--    <img class="menu_icon" src="{% static 'uploader/img/18x18/stats.png' %}" height="18" width="18"/>-->
            <!--    <span class="menu_text">Leaderboards</span>-->
            <!--    </a>-->
            <!--</li>-->
            <a href="{% url 'uploader:about' %}">
                <li id="menu_about">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="menu_text">About</span>
                </li>
            </a>
            <!--<li id="menu_twitter">-->
            <!--    <a href="https://twitter.com/eduresourc_es">-->
            <!--        <img class="menu_icon" src="{% static 'uploader/img/18x18/twitter.png' %}" width="22" height="22" />-->
            <!--        <span class="menu_text">Twitter</span>-->
            <!--    </a>-->
            <!--</li>-->
            <!--<li id="menu_email">-->
            <!--<a href="mailto:contact@eduresourc.es">-->
            <!--    <img class="menu_icon" src="{% static 'uploader/img/18x18/email.png' %}" width="18" height="18" />-->
            <!--</a>-->
            <!--</li>-->
            {% if user.is_superuser or user.is_staff %}
            <a href="/admin/">
                <li id="admin_button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="menu_text">Admin</span>
                </li>
            </a>
            {% endif %}
            <a id="menu_twitter" href="https://twitter.com/eduresourc_es">
                <li id="menu_twitter">
                 <img class="menu_icon" src="{% static 'uploader/img/18x18/twitter.png' %}" height="18" width="18"/>
                </li>
            </a>
            <a id="menu_email" href="mailto:contact@eduresourc.es">
                <li id="menu_email">
                 <img class="menu_icon" src="{% static 'uploader/img/18x18/email.png' %}" height="18" width="18"/>
                </li>
            </a>
        </ul>
    </div>
    {% if homepage %}
    <div id="splash">
        <span id="source"><a href="https://www.flickr.com/photos/wackystuff/5355788728/in/photolist-9agPoY-dtroJc-59THhy-7BAEiV-5RzRtp-7JKRHh-bF51FS-hVQBKP-6iUdMZ-2bUDT-988BVE-89pQhQ-9k6cM-6YTcyf-9q7jAU-dQugec-8s4PDi-8pvSWc-6YTeg5-dynb6k-2JNeAw-2TcoEu-mpgrkA-bsSo3-zV2x5-EykCH-7G9fHf-4xWMzG-6m1PW8-5v4A14-6HLhYf-9ezxNp-6CK1od-7Cby3b-8MF9B5-9t3zWm-38hJJt-9ezxHt-bsSoM-dsxGqc-b4jsc2-6ch2aS-8YyqSQ-ayP4oL-4Kp7mS-9K29J9-6YFiWi-7ruPJx-M4Xwq-6FQEh7">
           source 
        </a></span>
    </div>
    {% endif %}
    <div class="container">
        {% if user_messages %}
            {% for message in user_messages %}
                <!--<div class="{{ message.get_type_display }}">-->
                <!--{% if message.get_type_display == "Sticky" %}-->
                <!--    {{ message|safe }}-->
                <!--{% elif message.get_type_display == "Announcement" %}-->
                <!--    {{ message|safe }}-->
                <!--    <div class="message_dismiss">[X]</div>-->
                <!--{% else %}-->
                <!--    {{ message }}-->
                <!--    <div class="message_dismiss">[X]</div>-->
                <!--{% endif %}-->
                <!--</div>-->
            {% endfor %}
        {% endif %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block body_block %}{% endblock %}
    </div>
    <div id="footer">
        eduResourc.es v{{ APP_VERSION}}
        </p>
    </div>

<!--</div>-->
</body>
</html>
