{% extends 'uploader/base.html' %}
{% load bootstrap %}
{% block body_block %}
{% load static %}
<h1>{% block head_title %}Edit Lesson Item{% endblock %}</h1>
{% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}
<form role="form" action method='post'>
    {% csrf_token %}
{{ form|bootstrap }}
 <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
{% endblock %}