{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<h2>{% block head_title %}My Favourites{% endblock %}</h2>
{% if user.is_authenticated %}
    <h3>Subjects</h3>
    <p>To change your subjects, you can do so in your 
        <a href="{% url 'uploader:profile' %}">profile</a>.
    </p>
    {% if subjects %}
    <div class="row">
        {% for subject in subjects %}
          <div class="col-sm-6 col-md-3">
            <a href="{% url 'uploader:subject' subject.slug %}" class="thumbnail">
              <img src="{{ STATIC_PREFIX }}uploader/img/subjects/{{ subject.slug }}.jpg" alt="{{ subject.slug }}">
            </a>
            <h4 class="text-center">{{ subject.subject_name }}</h4>
          </div>
        {% endfor %}
        </div>
    {% endif %}
    
    <h3>Syllabuses</h3>
    {% if syllabuses %}
        <div>
            <ul>
                {% for syllabus in syllabuses %}
                {% with syllabus=syllabus.syllabus %}
                    <li>
                        <a href="{% url 'uploader:syllabus' syllabus.subject.slug syllabus.exam_level.slug syllabus.slug %}">
                        
                            {{ syllabus }}
                        </a>
                    </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Click the favourite icon on any
        syllabus page to add them to this page.</p>
    {% endif %}
    
    <h3>Units</h3>
    {% if units %}
        <div>
            <ul>
                {% for unit in units %}
                {% with unit=unit.unit %}
                    <li>
                        <a href="{% url 'uploader:unit' unit.syllabus.subject.slug unit.syllabus.exam_level.slug unit.syllabus.slug unit.slug %}">
                        
                           {{ unit.syllabus }} > <strong>{{ unit }}</strong>
                        
                        </a>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Click the favourite icon on any unit page to add them to this page.</p>
    {% endif %}
    
    <h3>Unit Topics</h3>
    {% if unit_topics %}
        <div>
            <ul>
                {% for unit_topic in unit_topics %}
                {% with unit_topic=unit_topic.unit_topic %}
                <li>
                    <a href="{% url 'uploader:unit_topic' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug %}">
                     {{ unit_topic.unit.syllabus }} > {{ unit_topic.unit }} > <strong>{{ unit_topic }}</strong>
                        </li>
                    </a>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Click the favourite icon on any
        syllabus page to add them to this page.</p>
    {% endif %}
{% else %}
<p>You must be logged in to see your favourites, log in or sign up using the links
at the top right of the page.</p>
{% endif %}
{% endblock %}
