{% extends 'uploader/base.html' %}
{% block head_title %}{{ unit_topic }} Notes{% endblock %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit_topic' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug  %}">
     {{ unit_topic.title|truncatechars:45 }}</a> >
     Feedback
</div>
<h2>Feedback</h2>
{% if questions %} 
{% for question in questions %}
<p><strong>Question</strong>: {{ question.text }}</p>

<p><strong>You said</strong>: {{ question.user_answer.answer_chosen }} <br />
<strong>Answer</strong>: {{ question.answer }}</p>
{% if question.user_answer.is_correct %}
<p><span style="color: green">Correct!</span></p>
{% else %}
<p><span style="color: red">Incorrect!</span></p>
{% endif %}
<br /><br /><br />
{% endfor %}
{% else %}
<p>No feedback yet, answer some questions.</p>
{% endif %}
{% endblock %}
