{% extends 'uploader/base.html' %}
{% load static %}
{% block body_block %}

<script type="text/javascript">
$(document).ready(function(){
        var table = $('#tests').dataTable({
        "order": [[ 7, "desc" ]],
    });
    // new FixedColumns(table, {
    //             left:   true,
    //             right:  true
    //         });
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<h2>{% block head_title %}{{ group.name }} {% endblock %}</h2>
<h3>Invite code</h3>
<p>{{ group.code }}</p>

{% if students %}
<h3>Lessons</h3>
{% for group_lesson in lessons %}
<p><a href="{% url 'uploader:lesson' group.code group_lesson.lesson.code %}">{{ group_lesson.lesson.title }}</a></p>
{% endfor %}
<h3>Tests</h3>
<div class="table-responsive">
<table id='tests' class='table table-striped'>
    <thead>
    <tr style="height:100%">
        <th nowrap>Student Name</th>
        {% for test in tests %}
        <th nowrap>
            {{ test}} ({{ test.total }})
            <!--<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true"-->
            <!--    title="{{ test }}<br />Total: {{ test.total }}">-->
            <!--</span>-->
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{ student.student.studentprofile.forename }} {{ student.student.studentprofile.surname }}</td>
            {% for result in student.student.results %}
                <td style='text-align: center'>
                    {{ result.score }}
                </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<a href="{% url 'uploader:add_test' %}">
    <button class='btn btn-success'>New Test</button>
</a>
{% else %}
<p>No students in group.</p>
{% endif %}
{% endblock %}