{% extends 'uploader/base.html' %}
{% load static %}
{% block body_block %}
<h2>{% block head_title %}My Groups{% endblock %}</h2>
{% for group in groups %}
<p>
    <a href="{% url 'uploader:group' group.slug %}">
    {{ group.name }} 
    </a>
    
    (<strong>Code:</strong> {{ group.code }})</p>
{% endfor %}
<p>
<a href="{% url 'uploader:groups' %}">
	<button class="btn btn-default">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
	Add group</button></a>
</p>
{% endblock %}