{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
    <div class="jumbotron">
        <h1>Resources done right</h1>
        <h3>Teachers</h3>
        <p>We are a learning platform centered around courses and sharing. You and your classes
        can share and reuse lessons, resources and tests.</p>
        <a href="{% url 'uploader:signup' %}">
            <button type="button" class="btn btn-lg btn-success">
                Sign up
            </button>
        </a>
        <h3>Students</h3>
        <p>For your specific course, we have materials such as notes and resources to help you revise.</p>
        <a href="{% url 'uploader:subjects' %}">
            <button type="button" class="btn btn-lg btn-success">
                View Resources
            </button>
        </a>
        <h3>Still not sure?</h3>

            <a href="{% url 'uploader:about' %}">
            <button type="button" class="btn btn-lg btn-info">
                Learn more
            </button>
        </a>
        <br />
     </div>

{% endblock %}
