{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<h2>{% block head_title %}{{ lesson.title }}{% endblock %}</h2>
{% if lesson.objectives %}
<h3>Lesson Objectives</h3>
{% autoescape off %}
{{ lesson.objectives }}
{% endautoescape %}
{% endif %}
{% if lesson.presentation %}
  {% if lesson.show_presentation_to_students %}
    <h3>Lesson Presentation</h3>
    <a href="{{MEDIA_URL}}{{ lesson.presentation.file }}">Click to view</a>
  {% elif user.teacherprofile %}
    <h3>Lesson Presentation</h3>
    <a href="{{MEDIA_URL}}{{ lesson.presentation.file }}">Click to view</a>
  {% endif %}
{% endif %}
<h3>Lesson Tasks</h3>

<div class="row">
  {% for item in lesson_items %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <!--<div class="caption">-->
        <h4 class="task_num">{{ forloop.counter }}</h4>
        
        {% if item.instructions %}
        <p>{{ item.instructions|safe }}</p>
        {% endif %}
        
        {% if item.type == 'resources' %}
        <p>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title='Preview'></span>
        </a>
        <a href="{% url 'uploader:view_resource' item.slug %}">
            {{ item.title }} resource
        </a>
        </p>
        {% elif item.type == 'notes' %}
        <p><a href="{% url 'uploader:view_notes_d' item.slug %}" class="jQuery fancybox.iframe">
            <span class="glyphicon glyphicon-book" aria-hidden="true" title='Notes'></span>
            {{ item.title }} notes
        </a>
        </p>
        {% elif item.type == 'test' %}
        <p><a href="{% url 'uploader:test' item.slug %}" class="jQuery fancybox.iframe">
            Take {{ item.title }} test
        </a>
        </p>
        {% endif %}
        
      <!--</div>-->
    </div>
  </div>
  {% endfor %}
</div>

{% for item in lesson_items %}
{% if item.type == 'resources' %}
           <div class="modal fade bs-example-modal-lg" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel{{ forloop.counter }}">{{ item.title }}</h4>
                </div>
                <div class="modal-body">
                  <iframe src="{% url 'uploader:view_resource_embed' item.slug %}" width="100%" height="600" frameborder="0" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
  {% endif %}
{% endfor %}
{% endblock %}