{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<h2>{% block head_title %}{{ lesson.title }}{% endblock %}</h2>
<h3>Lesson Objectives</h3>
{{ lesson.objectives|safe }}
<div id="lesson_items">
<ul>
{% for item in lesson_items %}
    <li>
    <h3 class="task_num">{{ forloop.counter }}</h3>
    {% if item.type == 'resources' %}
    <p>
    <a href="{% url 'uploader:view_resource' item.slug %}">
        Open {{ item.title }} resource
    </a>
    </p>
    {% elif item.type == 'notes' %}
    <p><a href="{% url 'uploader:view_notes_d' item.slug %}">
        Open {{ item.title }} notes
    </a>
    </p>
    {% elif item.type == 'test' %}
    <p><a href="{% url 'uploader:test' item.slug %}">
        Take {{ item.title }} test
    </a>
    </p>
    {% endif %}
    
    {% if item.instructions and item.type != "task" %}
    <h4>Instructions</h4>
    <p>{{ item.instructions }}</p>
    {% elif item.instructions %}
    <p>{{ item.instructions }}</p>
    {% endif %}
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}