{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<h2>{% block head_title %}{{ lesson.title }}{% endblock %}</h2>
<h3>Lesson Objectives</h3>
{{ lesson.objectives|safe }}
<h3>Lesson Tasks</h3>
<div id="lesson_items">
<ul>
{% for item in lesson_items %}
    <li>
    <h4 class="task_num">{{ forloop.counter }}</h3>
    {% if item.instructions %}
    <p>{{ item.instructions|linebreaks }}</p>
    {% endif %}
    {% if item.type == 'resources' %}
    <p>
    <a href="javascript:void(0)" class="jQuery fancybox.iframe" onclick="jQuery.fancybox({href:'{% url 'uploader:view_resource_embed' item.slug %}', type: 'iframe', width: 1000, height: 600, overlayColor: '#000', hideOnContentClick: false, hideOnOverlayClick: false });">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title='Preview'></span>
    </a>
    <a href="{% url 'uploader:view_resource' item.slug %}">
        {{ item.title }} resource
    </a>
    </p>
    {% elif item.type == 'notes' %}
    <p><a href="{% url 'uploader:view_notes_d' item.slug %}" class="jQuery fancybox.iframe">
        <span class="glyphicon glyphicon-book" aria-hidden="true" title='Notes'></span>
        {{ item.title }} notes
    </a>
    </p>
    {% elif item.type == 'test' %}
    <p><a href="{% url 'uploader:test' item.slug %}" class="jQuery fancybox.iframe">
        Take {{ item.title }} test
    </a>
    </p>
    {% endif %}
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}