{% extends 'uploader/base.html' %}
{% block body_block %}
{% load bootstrap %}
<script>
$(function() {
    $('select[name=syllabus]')
                .empty().append($('<option>---------</option>'))
    $('select[name=unit]')
                .empty().append($('<option></option>'))
    $('select[name=unit_topic]')
                .empty().append($('<option></option>'))
                
});
// FIXME move this and functionise
// get syllabuses for subject
$(document).ready(function(){
    $('select[name=subject]').change(function(){
            subject_id = $(this).val();
            $.getJSON("/lookup/syllabus/" + subject_id, null, function(data) {
            $.each(data, function(key, value) {   
             $('select[name=syllabus]')
                .append($('<option>', { value : key })
                .text(value)); 
            });
        });
    });
});

// get units for syllabus
$(document).ready(function(){
    $('select[name=syllabus]').change(function(){
            syllabus_id = $(this).val();
            $.getJSON("/lookup/unit/" + syllabus_id, null, function(data) {
            $('select[name=unit]')
                .empty().append($('<option></option>'))
            $.each(data, function(key, value) {   
             $('select[name=unit]')
                .append($('<option>', { value : key })
                .text(value)); 
            });
        });
    });
});

// get unit topics for unit
$(document).ready(function(){
    $('select[name=unit]').change(function(){
            unit_id = $(this).val();
            $.getJSON("/lookup/unit_topic/" + unit_id, null, function(data) {
            // $('select[name=unit_topic]')
            //     .empty().append($('<option><option>'))
            var section = "";
            count = 0;
            $.each(data, function(key, value) {
                if (section = "" || value.section != section) {
                    console.log('changing from ' + section + ' to ' + value.section);
                    if (count != 0) {
                        $('select[name=unit_topic]').append('</optgroup>');
                    }
                    count++;
                    $('select[name=unit_topic]').append('<optgroup label="&gt;' + value.section + '">');
                    section = value.section;
                }
             $('select[name=unit_topic]')
                .append($('<option>', { value : value.id })
                .text(value.unit_topic)); 
            });
        });
    });
});
</script>

{% if type == 'test' %}
<script>
// we set subject on the previous page, fill this in and pre-fill syllabuses
$(document).ready(function(){
    var subject = '{{subject}}';
    $('[name=subject]').val(subject);
    subject_id = $('[name=subject]').val();
    $.getJSON("/lookup/syllabus/" + subject_id, null, function(data) {
    $.each(data, function(key, value) {   
     $('select[name=syllabus]')
        .append($('<option>', { value : key })
        .text(value)); 
        });
    });
});
</script>
    <h2>Choose Test Topic</h2>
    <p>
        Pick which unit topic your questions will be drawn from.
    </p>
{% else %}
<h2>Add Resource</h2>
<h3>Important!</h3>
<div class="important">
<p>You now need to put this resource where it belongs:
<ul>
    <li>Ideally, the resource
should have a subject, syllabus, unit and unit topic to make it as useful as 
possible</li>
<li>If it is a general resource such as a specification or scheme of work, you can leave unit and unit topic blank</li>
<li>If the resource could be used for multiple syllabuses or topics, you 
can add more later.</li>
</ul>
</div>
{% endif %}

<hr />
<div id="link_form">
<form action method="post" novalidate>
    {% csrf_token %}

    <!--{% for field in form %}-->
        <!-- check what's required -->
    <!--    {% if type == 'test' or field.name == 'subject' or field.name == 'syllabus' %}-->
    <!--        <span class="label label-danger">required</span>-->
    <!--    {% endif %}-->
    <!--    {{ field|bootstrap }}-->
    <!--{% endfor %}-->
    
    {{ form.non_field_errors }}
    
    <div class="subject">
        {{ form.subject.errors }}
        <label for="{{ form.subject.id_for_label }}">Subject</label>
            <span class="label label-danger">required</span>
        {{ form.subject }}
    </div>
    
    <div class="syllabus">
        {{ form.syllabus.errors }}
        <label for="{{ form.syllabus.id_for_label }}">Syllabus</label>
            <span class="label label-danger">required</span>
        {{ form.syllabus }}
    </div>
    
    <div class="unit">
        {{ form.unit.errors }}
        <label for="{{ form.unit.id_for_label }}">Unit</label>
        {% if type == 'test'  %}
            <span class="label label-danger">required</span>
        {% endif %}
        {{ form.unit }}
    </div>

    <div class="unit_topic">
        {{ form.subject.errors }}
        <label for="{{ form.unit_topic.id_for_label }}">Unit Topic</label>
        {% if type == 'test'  %}
            <span class="label label-danger">required</span>
        {% endif %}
        {{ form.unit_topic }}
    </div>
    
    <div id="link_submit">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
</div>
{% endblock %}