{% extends 'uploader/base.html' %}
{% block body_block %}
{% load bootstrap %}
<script>
$(function() {
    $('select[name=syllabus]')
                .empty().append($('<option>---------</option>'))
    $('select[name=unit]')
                .empty().append($('<option></option>'))
    $('select[name=unit_topic]')
                .empty().append($('<option></option>'))
                
});
// FIXME move this and functionise
// get syllabuses for subject
$(document).ready(function(){
    $('select[name=subject]').change(function(){
            subject_id = $(this).val();
            $.getJSON("/lookup/syllabus/" + subject_id, null, function(data) {
            $.each(data, function(key, value) {   
             $('select[name=syllabus]')
                .append($('<option>', { value : key })
                .text(value)); 
            });
        });
    });
});

// get units for syllabus
$(document).ready(function(){
    $('select[name=syllabus]').change(function(){
            syllabus_id = $(this).val();
            $.getJSON("/lookup/unit/" + syllabus_id, null, function(data) {
            $('select[name=unit]')
                .empty().append($('<option></option>'))
            $.each(data, function(key, value) {   
             $('select[name=unit]')
                .append($('<option>', { value : key })
                .text(value)); 
            });
        });
    });
});

// get unit topics for unit
$(document).ready(function(){
    $('select[name=unit]').change(function(){
            unit_id = $(this).val();
            $.getJSON("/lookup/unit_topic/" + unit_id, null, function(data) {
            $('select[name=unit_topic]')
                .empty().append($('<option><option>'))
            $.each(data, function(key, value) {   
             $('select[name=unit_topic]')
                .append($('<option>', { value : key })
                .text(value)); 
            });
        });
    });
});
</script>

{% if type == 'test' %}
<script>
// we set subject on the previous page, fill this in and pre-fill syllabuses
$(document).ready(function(){
    var subject = '{{subject}}';
    $('[name=subject]').val(subject);
    subject_id = $('[name=subject]').val();
    $.getJSON("/lookup/syllabus/" + subject_id, null, function(data) {
    $.each(data, function(key, value) {   
     $('select[name=syllabus]')
        .append($('<option>', { value : key })
        .text(value)); 
        });
    });
});
</script>
    <h2>Choose Test Topic</h2>
    <p>
        Pick which unit topic your questions will be drawn from.
    </p>
{% else %}
    <h2>Add Resource</h2>

<h3>Important!</h3>
<div class="important">
<p>You now need to put this resource where it belongs. Ideally, the resource
should have a subject, syllabus, unit and unit topic to make it as useful as 
possible.</p>
<p>If the resource could be used for multiple syllabuses or topics, you 
can add more later.</p>
<p>If the resource is a scheme of work, you can leave the options blank that don't
make sense, e.g. for a whole-syllabus SoW, set subject and syllabus and leave 
the rest blank.</p>
</strong>
</div>
{% endif %}
{% if form.non_field_errors %}
<div id="error">
{% for error in form.non_field_errors %}
    {{error}}
{% endfor %}
</div>
{% endif %}

<div style="width: 60%; margin: 0 auto">
<form action method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
        <!-- check what's required -->
        {% if type == 'test' or field.name == 'subject' or field.name == 'syllabus' %}
            <span class="label label-danger">required</span>
        {% endif %}
        {{ field|bootstrap }}
    {% endfor %}
    
    <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
</div>
{% endblock %}