{% extends 'uploader/base.html' %}
{% block body_block %}
<h2>Upload Resource</h2>
<p>You are uploading a new resource to the syllabus: <strong>{{ syllabus }}</strong></p>
<p>If you are not logged in, your resource will wait to be approved. To skip 
this in future, please register and log in first.</p>

<form enctype="multipart/form-data" action method="post" novalidate>
    {% csrf_token %}  
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }} {{ field.help_text }}
    </div>
    {% endfor %}
    <div class="fieldWrapper">
    {{ form.syllabus.as_hidden }}
    </div>
<br /><input type="submit" value="Save">
</form>
{% endblock %}