{% extends 'uploader/base.html' %}
{% block body_block %}
<h1>{% block head_title %}Notes History{% endblock %}</h1>

<ul>
{% for item in history reversed %}

<li>
    {{ item.user }} - {{ item.pub_date }} ({{ item.content|length }} bytes) {% if item.comment %} <em>({{ item.comment }})</em>{% endif %} 
    
</li><a href="javascript:void(0);" onclick="$('#diff{{ forloop.counter }}').toggle();">Show/hide diff</a>
<div class='diff' id='diff{{forloop.counter}}' style='display:none'>
<p>{{ item.diff | safe }}</p>
</div>
{% endfor %}
</ul>
{% endblock %}
