{% extends 'uploader/base.html' %}
{% block head_title %}{{ unit_topic }} Notes{% endblock %}
{% block body_block %}
{% load static %}
<script>
$(document).ready(function () {
    // Fix styles that come back from github's markdown API
    $( "table" ).addClass( "table" );
    
});
</script>
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit_topic' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug  %}">
     {{ unit_topic.title|truncatechars:45 }}</a> >
     Notes
</div>
<a class='btn btn-default' href="{% url 'uploader:notes' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Edit
</a>
{% include 'uploader/unit_topic_tabs.html' %}
<div id="add-to-lesson">
<a href="{% url 'uploader:add_item_to_lesson' unit_topic.slug 'notes' %}">
    <button class='btn btn-default'>
    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
    Add to lesson
    </button>
</a>
</div>
<div id="notes">
{% if notes %}
    {{ notes.content|safe }}
</div>

<p style="text-align: center; font-size: 80%">Except where otherwise noted, content is licensed under 
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        CC Attribution-NonCommercial-ShareAlike 4.0 International licence.
    </a>
</p>
{% else %}
<h2>No Notes</h2>
<p>Nothing to see here, move along. Unless you want to add something, then click edit.</p>
{% endif %}
{% endblock %}
