{% extends 'uploader/base.html' %}
{% load bootstrap %}
{% block body_block %}
<h2>{% block head_title %}My Profile{% endblock %}</h2>
<h3>Actions</h3>
<p><a href="{% url 'account_email' %}">
	<button class='btn btn-default'>Change e-mail</button>
</a></p>
<p>
<a href="{% url 'account_set_password' %}">
	<button class='btn btn-default'>Change password</button>
</a>
</p>
	<!--<li><a href="{ url 'socialaccount_connections' }">Login using another account</a>-->
<h3>Details</h3>
<form role="form" action method='post'>
	{% csrf_token %}
	{{ form|bootstrap }}
 <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Save</button>
 </div>
</form>
{% endblock %}