{% extends 'uploader/base.html' %}
{% block body_block %}
<h2>Add Resource</h2>
<h3>Important!</h3>
<div class="important">
<p>You now need to put this resource where it belongs. Ideally, the resource
should have a subject, syllabus, unit and unit topic to make it as useful as 
possible.</p>
<p>If the resource could be used for multiple syllabuses or topics, you 
can add more later.</p>
<p>If the resource is a scheme of work, you can leave the options blank that don't
make sense, e.g. for a whole-syllabus SoW, set subject and syllabus and leave 
the rest blank.</p>
</strong>
</div>
{% if form.non_field_errors %}
<div id="error">
{% for error in form.non_field_errors %}
    {{error}}
{% endfor %}
</div>
{% endif %}

<form enctype="multipart/form-data" action method="post" novalidate>
    {% csrf_token %}  

    {% for field in form.visible_fields %}
    <div class="field_content">
        <label>
        {% if field.field.required %}
            <span class="required">{{ field.label_tag }}</span>
        {% else %}
            {{ field.label_tag }}
        {% endif %}
        </label>  
    <div class="field">
        {% if field.help_text %}
        <div class = "help_text">
            {{ field.help_text }}
        </div>
        {% endif %}
        {{ field }}
        <span class="field_error">{{ field.errors }}</span>
    </div> 
    </div>
    {% endfor %}
    
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    
<br /><input type="submit" value="Save">
</form>
{% endblock %}