{% extends 'uploader/base.html' %}
{% block body_block %}
<script>
    // if a user clicks the author button, hide the author fields
    $(document).ready(function(){
    $('input[name=i_am_the_author]').change(function(){
        if($("input[name=i_am_the_author]").is(':checked')) {
            $('#input_author').hide();
            $('#input_author_link').hide();
        }
        else {
            $('#input_author').show();
            $('#input_author_link').show();
        }
    });
});
</script>
<h2>Add Resource</h2>
{% if form.non_field_errors %}
    <div class="error">
    {% for error in form.non_field_errors %}
        {{error}}
    {% endfor %}
    </div>
{% endif %}

{% if not user.is_authenticated %}
<p>If you are not logged in, your resource will wait to be approved. To skip 
this in future, please register and log in first.</p>
{% endif %}
{% if form.non_field_errors %}
{{ form.non_field_errors %}
{% endif %}

<form enctype="multipart/form-data" action method="post" novalidate>
    {% csrf_token %}  
    {% for field in form %}
    <div id="input_{{ field.html_name }}">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {{ field.help_text }}
    </div>
{% endfor %}
<br /><input type="submit" value="Next">
</form>
{% endblock %}