{% extends 'uploader/base.html' %}
{% load url from future %}
{% load micawber_tags %}
{% load static %}
{% block body_block %}
<script>
$(document).ready(function () {
    $("div p:contains('http')").closest("div").hide();
});

function vote(resourceID, rating)
{
    var xmlHttp = null;
    theUrl = '/rate/' + resourceID + '/' + rating + '/';
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    $('#rating').hide();
    $('#thankyou').show();
    return xmlHttp.responseText;
}
</script>
<div class="">
<h2>
    {% block head_title %}
    {% if resource.file %}
        {{ resource.file.title }}
    {% else %}
        {{ resource.bookmark.title }}
        {% endif %}
    {% endblock %}
</h2>

<div id="resource_details">
    {% if user.teacherprofile %}
    <div id="add-to-lesson">
    <a href="{% url 'uploader:add_item_to_lesson' resource.slug 'resource' %}">
        <button class='btn btn-primary'>
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
        Add to lesson
        </button>
    </a>
    </div>
    {% endif %}
    <div id="syllabus">Suitable for: 
    <strong>{{ resource.syllabus }}
    {% if resource.unit %} > {{ resource.unit }}{% endif %}
    {% if resource.unit_topic %} > {{ resource.unit_topic }}{% endif %}
    </strong>
    </div>
    <div id="rating">
        <a href="javascript:void(0)" onclick="javascript:vote({{ resource.id}}, 5)">
            {% if rating_val > 4.9 %}
                <span>★</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        </a>
        <a href="javascript:void(0)" onclick="javascript:vote({{ resource.id}}, 4)">
            {% if rating_val >= 4 %}
                <span>★</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        </a>
        <a href="javascript:void(0)" onclick="javascript:vote({{ resource.id}}, 3)">
            {% if rating_val >= 3 %}
                <span>★</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        </a>
        <a href="javascript:void(0)" onclick="javascript:vote({{ resource.id}}, 2)">
            {% if rating_val >= 2 %}
                <span>★</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        </a>
        <a href="javascript:void(0)" onclick="javascript:vote({{ resource.id}}, 1)">
            {% if rating_val >= 1 %}
                <span>★</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        </a>
        <div class="rating_value text-center">{{ rating }}</div>
    </div>
    <div id="thankyou" style="display:none">
        Thank you for rating.
    </div>
    {% if resource.file.uploader or resource.bookmark.uploader %}
    <div id="uploader" style="clear:both;">
        Added by <strong>
        {% if resource.file %}
            {% if resource.file.uploader.teacherprofile %}
                {{ resource.file.uploader.teacherprofile.title }} {{ resource.file.uploader.teacherprofile.surname }}
            {% elif resource.file.uploader.studentprofile %}
                {{ resource.file.uploader.st.udentprofile.forename }} {{ resource.file.uploader.teacherprofile.surname }}
            {% endif %}
        {% elif resource.bookmark %}
            {% if resource.bookmark.uploader.teacherprofile %}
                {{ resource.bookmark.uploader.teacherprofile.title }} {{ resource.bookmark.uploader.teacherprofile.surname }}
            {% elif resource.bookmark.uploader.studentprofile %}
                {{ resource.bookmark.uploader.studentprofile.forename }} {{ resource.bookmark.uploader.teacherprofile.surname }}
            {% endif %}
        {% endif %}
        </strong>
    </div>
    {% endif %}
    <div id="topics">
        {% if resource.topics.all %}
        <p>Topics: 
            {% for topic in resource.topics.all %}
                {% if not forloop.first %}
                {% if forloop.last %} &amp; {% else %}, {% endif %}
                {% endif %}
                <strong>{{ topic }}</strong>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
<!--<hr />-->
<div  class="well">
    {% if resource.file %}
        {{ resource.file.description }}
    {% else %}
        {{ resource.bookmark.description }}
    {% endif %}
</div>

{% if resource.file %}
    <div id="author">
    {% if not resource.file.uploader_is_author %}
    Resource originally created by 
        {% if resource.file.author_link %}
        <a href="{{ resource.file.author_link }}">
            {{ resource.file.author }}
        </a>
        {% endif %}
    {% endif %}
    
    {% if ses_id %}
    <p>
    <iframe src="https://view-api.box.com/1/sessions/{{ ses_id }}/view?theme=light" seamless fullscreen style="display: block; margin: 0 auto; border: none; width:1000px;height:600px"></iframe>
    </p>
    {% elif resource.file.image %}
        <img style="display: block; margin: 0 auto" src="{{ MEDIA_URL }}{{resource.file.file}}" />
    {% endif %}
    
    {% if "None" not in resource.file.licence %}
    <p>
    Published under 
            <a href="{{ resource.licence.link }}">
                {{ resource.file.licence }} licence
            </a>
    </p>
    {% endif %}


    </div>
{% else %}
    <div class="link_or_oembed">
    <p>{{ resource.bookmark.link | oembed }}</p>
    </div>


{% endif %}
<div id="published">Uploaded {{ resource.pub_date }}</div>

<div class="action">
    
    {% if resource.file %}
    <a href='{{ MEDIA_URL }}{{ resource.file.file }}'>
        <button class='btn btn-success'>
        <span class="glyphicon glyphicon-save" style="color:white" aria-hidden="true"></span>
        Download
        </button>    
    </a>
        
    {% else %}
        <div id="link">
            <a href='{{ resource.bookmark.link }}'>
                <button class='btn btn-success'>
                <span class="glyphicon glyphicon-globe" style="color:white" aria-hidden="true"></span>

                    Open link</button>
            </a>
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
