{% extends 'uploader/base_basic.html' %}
{% load url from future %}
{% load static %}
{% load tags %}
{% block body_block %}
<script>
$(document).ready(function () {
    $("div p:contains('http')").closest("div").replaceWith("<p class='text-center'>No preview for this item.</p>");
});
</script>
{% if resource.file %}
    {% if ses_id %}
    <p>
    <iframe src="https://view-api.box.com/1/sessions/{{ ses_id }}/view?theme=light" seamless fullscreen style="display: block; margin: 0 auto; border: none; width:1000px;height:500px"></iframe>
    </p>
    {% elif resource.file.image %}
        <img style="display: block; margin: 0 auto" src="{{ MEDIA_URL }}{{resource.file.file}}" />
    {% endif %}
    
{% else %}
    <div id="link_or_oembed">
    <p><strong>{{ resource.bookmark.link|embed|safe }}</strong></p>
    </div>
{% endif %}
<div class="action">
    
    {% if resource.file %}
    <a href='{{ MEDIA_URL }}{{ resource.file.file }}'>
        <button class='btn btn-success'>
        <span class="glyphicon glyphicon-save" style="color:white" aria-hidden="true"></span>
         Download
        </button>    
    </a>
        
    {% else %}
        <div id="link">
            <a href='{{ resource.bookmark.link }}' target="_blank">
                <button class='btn btn-success'> 
                <span class="glyphicon glyphicon-globe" style="color:white" aria-hidden="true"></span> 
                Open link</button>
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
