{% extends 'uploader/base.html' %}
{% load url from future %}
{% load tags %}
{% load bootstrap %}
{% load static %}
{% block body_block %}
<script>
$(document).ready(function () {
    $("div p:contains('http')").closest("div").hide();
});

function vote(rating)
{
    var xmlHttp = null;
    var resourceID = '{{ resource.id }}';
    var type = 'Resource';
    theUrl = '/vote/' + type + '/' + resourceID + '/' + rating + '/';
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    $('#ratings').html("<strong>" + xmlHttp.responseText + "</strong>");
    return xmlHttp.responseText;
}
</script>
<div class="">
<h1>
    {% block head_title %}
    {% if resource.file %}
        {{ resource.file.title }}
    {% else %}
        {{ resource.bookmark.title }}
        {% endif %}
    {% endblock %}
</h1>

<div id="resource_details">
    {% if user.teacherprofile %}
    <div id="add-to-lesson">
    <a href="javascript:void(0);" onclick='javascript:window.prompt("Copy quickcode to add to a lesson", "{{ resource.code }}");'>
        <button class='btn btn-info'>
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            {{ resource.code }}
        </button>
    </a>
    </div>
    {% endif %}
    <div id="syllabus">Suitable for: 
    <strong>{{ resource.syllabus }}
    {% if resource.unit %} > {{ resource.unit }}{% endif %}
    {% if resource.unit_topic %} > {{ resource.unit_topic }}{% endif %}
    </strong>
    </div>
    <div id="ratings">
    <span class="star-rating" id='rating'>
      <input type="radio" name="rating" value="1" onclick='vote(1)'
      {% if resource.rating < 1.5 and resource.rating >= 0 %} checked="checked" {% endif %}
      ><i></i>
      
      <input type="radio" name="rating" value="2" onclick='vote(2)'
      {% if resource.rating < 2.5 and resource.rating >= 1.5 %} checked="checked" {% endif %}
      ><i></i>
      
      <input type="radio" name="rating" value="3" onclick='vote(3)'
      {% if resource.rating < 3.5 and resource.rating >= 2.5 %} checked="checked" {% endif %}
      ><i></i>
      
      <input type="radio" name="rating" value="4" onclick='vote(4)'
      {% if resource.rating < 4.5 and resource.rating >= 3.5 %} checked="checked" {% endif %}
      ><i></i>
      
      <input type="radio" name="rating" value="5" onclick='vote(5)'
      {% if resource.rating < 5.0 and resource.rating >= 4.5 %} checked="checked" {% endif %}
      ><i></i>
      
    </span>
    </div>
    <p><small>Rating: <strong>{{ resource.rating }}</strong>/5.0</small></p>

    <!--<div></div>-->
    <form class='form-inline'>
    {{ form|bootstrap }}
    <p><button class='btn btn-success' type='submit'>Rate</button></p>
    </form>
    <div id="thankyou" style="display:none">
        Thank you for rating.
    </div>
    {% if resource.file.uploader or resource.bookmark.uploader %}
    <div id="uploader" style="clear:both;">
        <p><strong>Added by:</strong>
        {% if resource.file %}
            {% if resource.file.uploader.teacherprofile %}
                {{ resource.file.uploader.teacherprofile.title }} {{ resource.file.uploader.teacherprofile.surname }}
            {% elif resource.file.uploader.studentprofile %}
                {{ resource.file.uploader.st.udentprofile.forename }} {{ resource.file.uploader.teacherprofile.surname }}
            {% endif %}
        {% elif resource.bookmark %}
            {% if resource.bookmark.uploader.teacherprofile %}
                {{ resource.bookmark.uploader.teacherprofile.title }} {{ resource.bookmark.uploader.teacherprofile.surname }}
            {% elif resource.bookmark.uploader.studentprofile %}
                {{ resource.bookmark.uploader.studentprofile.forename }} {{ resource.bookmark.uploader.teacherprofile.surname }}
            {% endif %}
        {% endif %}
        </p>
    </div>
    {% endif %}
    <div id="topics">
        {% if resource.topics.all %}
        <p>Topics: 
            {% for topic in resource.topics.all %}
                {% if not forloop.first %}
                {% if forloop.last %} &amp; {% else %}, {% endif %}
                {% endif %}
                <strong>{{ topic }}</strong>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
<!--<hr />-->
<div  class="well">
    {% if resource.file %}
        {{ resource.file.description }}
    {% else %}
        {{ resource.bookmark.description }}
    {% endif %}
</div>

{% if resource.file %}
    <div id="author">
    {% if not resource.file.uploader_is_author %}
    Resource originally created by 
        {% if resource.file.author_link %}
        <a href="{{ resource.file.author_link }}">
            {{ resource.file.author }}
        </a>
        {% endif %}
    {% endif %}
    
    {% if ses_id %}
    <p>
    <iframe src="https://view-api.box.com/1/sessions/{{ ses_id }}/view?theme=light" seamless fullscreen style="display: block; margin: 0 auto; border: none; width:1000px;height:600px"></iframe>
    </p>
    {% elif resource.file.image %}
        <img style="display: block; margin: 0 auto" src="{{ MEDIA_URL }}{{resource.file.file}}" />
    {% endif %}
    
    {% if "None" not in resource.file.licence %}
    <p>
    Published under 
            <a href="{{ resource.licence.link }}">
                {{ resource.file.licence }} licence
            </a>
    </p>
    {% endif %}


    </div>
{% else %}
    <div class="link_or_oembed">
    <p>{{ resource.bookmark.link|embed|safe }}</p>
    </div>


{% endif %}
<div id="published">Uploaded {{ resource.pub_date }}</div>

<div class="action">
    
    {% if resource.file %}
    <a href='{{ MEDIA_URL }}{{ resource.file.file }}'>
        <button class='btn btn-success'>
        <span class="glyphicon glyphicon-save" style="color:white" aria-hidden="true"></span>
        Download
        </button>    
    </a>
        
    {% else %}
        <div id="link" class="text-center" style="display:none">
            <a href='{{ resource.bookmark.link }}'>
                <button class='btn btn-success'>
                <span class="glyphicon glyphicon-globe" style="color:white" aria-hidden="true"></span>

                    Open link</button>
            </a>
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
