{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<h2>{% block head_title %}Subjects{% endblock %}</h2>
    {% if subjects %}
    <div class="row">
        {% for subject in subjects %}
          <div class="col-sm-6 col-md-3">
            <a href="{% url 'uploader:subject' subject.slug %}" class="thumbnail">
              <img src="{{ STATIC_PREFIX }}uploader/img/subjects/{{ subject.slug }}.jpg" alt="{{ subject.slug }}">
            </a>
            <h4 class="text-center">{{ subject.subject_name }}</h4>
          </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Oops, no subjects. This is embarrasing.</p>
    {% endif %}
{% endblock %}
