{% extends 'uploader/base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block body_block %}
<ol class="breadcrumb">
    <li><a href="{% url 'uploader:subjects' %}">Home</a></li>
    <li class="active">{{ subject.subject_name }}</li>
</ol>
<h1>{% block head_title %}{{ subject.subject_name }}{% endblock %}</h1>
<img src="{% static 'uploader/img/18x18/subjects/' %}{{ subject.subject_name|slugify }}_large.jpg" />
<h2>Categories</h2>
{% for category in categories %}
<li><a href="{% url 'uploader:category' subject.slug category.slug %}">{{category}}</a></li>
{% endfor %}
{% endblock %}
