{% extends 'uploader/base.html' %}
{% block body_block %}

<h2>{% block head_title %}General {{ syllabus }} Resources{% endblock %}</h2>
  <ul>
    {% for resource in resources %}
      {% if resource.file %}
        <li data-type="file"><a href="{% url 'uploader:resource' resource.id %}">
            {{ resource }}</a>
        </li>
        {% else %}
        <li data-type="bookmark"><a href="{% url 'uploader:resource' resource.id %}">
            {{ resource }}</a>
        </li>
        {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}