{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' subject.slug %}">
        {{ subject.subject_name }}</a> >
     {{ level.level_name }}
</div>
<h2>{% block head_title %}{{ subject.subject_name }} Syllabuses{% endblock %}</h2>
<p>I found the following syllabuses:</p>
{% if syllabus_list %}
    <ul>
    {% for syllabus in syllabus_list %}
        <li>
            <a href="{% url 'uploader:syllabus' syllabus.subject.slug level.slug syllabus.slug %}">
                {{ syllabus }}
            </a>
        </li> 
    {% endfor %}
    </ul>
{% else %}
    <p>No syllabuses :( get in contact with the icons in the menu to get your 
    syllabus added</p>
{% endif %}
{% endblock %}
