{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' syllabus.subject.slug %}">
        {{ syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' syllabus.subject.slug syllabus.exam_level.slug %}">
     {{ syllabus.exam_level.level_name|truncatechars:45 }}</a> >
     {{ syllabus|truncatechars:45 }}
</div>
<h2>{% block head_title %}{{ syllabus }}{% endblock %}</h2>
{% if user.is_authenticated %}
<p><a class='btn' href="{% url 'uploader:add_favourite' 'syllabus' syllabus.slug %}">
        <img src="{% static 'uploader/img/18x18/heart.png' %}" />
        Add to favourites
    </a>
</p>
{% endif %}
</a>
<div id="syllabus_validity">
    {% if syllabus.teach_from %}
    <p><strong>First teaching</strong>: {{ syllabus.teach_from|date:"F Y" }}</p>
    {% endif %}
    
    {% if syllabus.teach_until %}
    <p><strong>Last exam</strong>: {{ syllabus.teach_until|date:"F Y" }}</p>
    {% endif %}
</div>
{% if syllabus.description %}
<div id="description">{{ syllabus.description }}</div>
{% endif %}

{% if syllabus.official_site %}
<p><a href="{{ syllabus.official_site }}">Official site</a></p>
{% endif %}
<h3>Syllabus Resources</h3>
<p>Under syllabus resources you will find syllabus-specific resources
such as schemes of work.</p>
<p>
    <a href="{% url 'uploader:syllabus_resources' syllabus.subject.slug syllabus.exam_level.slug syllabus.slug %}">
        View syllabus resources
    </a>
</p>
<br />
<h3>Units</h3>
{% if units %}
<p>View unit-specific resources:</p>
<div id="resource_list">
    <ul>
    {% for unit in units %}
              <li><a href="{% url 'uploader:unit' syllabus.subject.slug syllabus.exam_level.slug syllabus.slug unit.slug %}">{{ unit.title }}</a></li> 
    {% endfor %}
    </ul>
    {% else %}
        No resources :(
        <a href="{% url 'uploader:add_resource' %}">Add some?</a>
    {% endif %}
</div>
{% endblock %}
