{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' syllabus.subject.id syllabus.subject.subject_name|slugify %}">
        {{ syllabus.subject.subject_name|truncatechars:25 }}</a> >
    <a href="{% url 'uploader:syllabuses' syllabus.subject.id syllabus.subject.subject_name|slugify syllabus.exam_level.id syllabus.exam_level.level_name|slugify %}">
     {{ syllabus.exam_level.level_name|truncatechars:25 }}</a> >
     {{ syllabus|truncatechars:25 }}
</div>
<h2>{% block head_title %}{{ syllabus }}{% endblock %}</h2>
<div id="syllabus_validity">
    <strong>
    {% if syllabus.teach_from %}
    <p><strong>First teaching</strong>: {{ syllabus.teach_from|date:"F Y" }}</p>
    {% endif %}
    
    {% if syllabus.teach_until %}
    <p><strong>Last exam</strong>: {{ syllabus.teach_until|date:"F Y" }}</p>
    {% endif %}
    </strong>
</div>
{% if syllabus.description %}
<div id="description">{{ syllabus.description }}</div>
{% endif %}

{% if syllabus.official_site %}
<p><a href="{{ syllabus.description }}">Official site</a></p>
{% endif %}
<h3>General Resources</h3>
<p>Under general resources you will find syllabus-specific resources
such as schemes of work.</p>
<p>
    <a href="{% url 'uploader:syllabus_resources' syllabus.id syllabus|slugify %}">
        View general resources
    </a>
</p>
<br />
<h3>Units</h3>
{% if units %}
<p>View unit-specific resources:</p>
<div id="resource_list">
    <ul>
    {% for unit in units %}
              <li><a href="{% url 'uploader:unit' unit.id unit.title|slugify %}">{{ unit.title }}</a></li> 
    {% endfor %}
    </ul>
    {% else %}
        No resources :(
        <a href="{% url 'uploader:add_resource' %}">Add some?</a>
    {% endif %}
</div>
{% endblock %}
