{% extends 'uploader/base.html' %}
{% block body_block %}

<h1>{% block head_title %}{{ syllabus }} Syllabus Resources{% endblock %}</h1>
  <ul>
    {% for resource in resources %}
      {% if resource.file %}
        <li data-type="file"><a href="{% url 'uploader:view_resource' resource.slug %}">
            {{ resource }}</a>
        </li>
        {% else %}
        <li data-type="bookmark"><a href="{% url 'uploader:view_resource' resource.slug %}">
            {{ resource }}</a>
        </li>
        {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}