{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load tags %}

<h2>{% block head_title %}{{ user.teacherprofile }}{% endblock %}'s Home</h2>
<h3>Groups</h3>
{% if groups %}
<ul class="list-group" style="width:30%">
    {% for group in groups %}
      <li class="list-group-item"><a style="display:block" href="{% url 'uploader:group' group.slug %}">{{ group }}</a></li>
    {% endfor %}
    </ul>
    <h3>Recent Assignments</h3>
    {% assignment_table "teacher" assignments %}

    <h3>Recent Tests</h3>
    {% test_table "teacher" tests %}

{% else %}
    <p>No groups, you can add one <a href="{% url 'uploader:groups' %}">here</a>.</p>
    
{% endif %} 
{% endblock %}
