{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load tags %}

<h1>{% block head_title %}{{ user.teacherprofile }}{% endblock %}'s Home</h1>
<h2>Groups</h2>
{% if groups %}
<div class="row">
    {% for group in groups %}
  <div class="col-xs-6 col-md-2">
      <div class="thumbnail">
      <div class="text-center">
        <a style="" href="{% url 'uploader:group' group.code %}">
            <h3 style="margin-top: 5px">{{ group }}</h3>
        </a>

    <h5>Items to mark</h5>
    </div>
    <table class="small-alignment-small" style="margin: 0 auto">
    <tr>
        <td>
            <strong>Assignments</strong>
        </td>
        <td>
            <span class='badge'>{{ group.assignments_to_mark }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Tests</strong>
        </td>
        <td>
            <span class='badge'>0</span>
        </td>
    </tr>
    </table>
    </div>
  </div>
{% endfor %}
    </div>
    <h2>Recent Assignments</h2>
    {% if assignments %}
        {% assignment_table "teacher" assignments %}
    {% else %}
        <p>No assignments</p>
    {% endif %}

    <h2>Recent Lessons</h2>
    {% if lessons %}
        {% lesson_table "teacher" lessons %}
    {% else %}
        <p>No lessons</p>
    {% endif %}
    
    <h2>Recent Tests</h2>
    {% if tests %}
        {% test_table "teacher" tests %}
    {% else %}
        <p>No tests</p>
    {% endif %}

{% else %}
    <p>No groups, you can add one <a href="{% url 'uploader:groups' %}">here</a>.</p>
    
{% endif %} 
{% endblock %}
