{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<h1>{% block head_title %}{{assignment.title}}{% endblock %}</h1>
<p>
    <a class='btn btn-info' href="{% url 'uploader:assignment' assignment.code %}">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </a>
</p>
{% if not assignment.offline %}
<p><strong>Deadline:</strong> {{ assignment.deadline }}</p>
{% else %}
<p><strong>Assessment date:</strong> {{ assignment.deadline }}</p>
{% endif %}
<p class='well'>{{ assignment.description }}</p>
{% if not assignment.offline %}
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{assignment.on_time_percentage }}%">
    On time ({{assignment.on_time}})
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{assignment.late_percentage }}%">
    Late ({{assignment.late}})
  </div>
  <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{assignment.not_submitted_percentage }}%">
    Not submitted ({{assignment.not_submitted}})
  </div>
  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{assignment.absent_percentage }}%">
    Absent ({{assignment.absent}})
  </div>
</div>
{% endif %}
<table class='table'>
    <thead>
        <tr>
            <th style='text-align:center'>Student</th>
            {% if not assignment.offline %}
            <th style='text-align:center'>Submission</th>
            {% endif %}
            <th style='text-align:center'>Marking</th>
            <th style='text-align:center'>Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for student in students %}

{% if student.student.submission.status == 5 or assignment.offline %}
<tr>
{% elif student.student.submission and student.student.submission.pub_date > assignment.deadline %}
<tr class='warning'>
{% elif student.student.submission %}
<tr class='success'>
{% else %}
<tr class="danger">
{% endif %}
    <td>
         {{ student.student.studentprofile }}   
    </td>
    {% if not assignment.offline %}
    <td>
        {% if student.student.submission %}
            {% if student.student.submission.status == 5 %}
            {% elif student.student.submission and student.student.submission.pub_date > assignment.deadline %}
                <span class="glyphicon glyphicon-time" aria-hidden="true" style='font-size: 1.0em'></span>
                Submitted {{ assignment.deadline|timesince:student.student.submission.pub_date }} late
            {% else %}
               <span class="glyphicon glyphicon-ok" aria-hidden="true" style='font-size: 1.0em'></span> Submitted on time
            {% endif %}
        {%endif%}
    </td>
    {% endif %}
    <td>
        {% if student.student.submission.get_status_display == 'Marked' %}
            <span class="glyphicon glyphicon-ok" aria-hidden="true" style='font-size:1.0em'></span>
        {% elif student.student.submission.get_status_display == 'Needs improvement' %}
            <span class="glyphicon glyphicon-repeat" aria-hidden="true" style='font-size:1.0em'></span>
        {% elif student.student.submission.get_status_display == 'Incomplete' %}
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style='font-size:1.0em'></span>
        {% elif student.student.submission.get_status_display == 'Absent' %}
        <span class="glyphicon glyphicon-minus" aria-hidden="true" style='font-size:1.0em'></span>
        {% elif student.student.submission %}
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style='font-size:1.0em'></span>
        {% endif %}
        {{ student.student.submission.get_status_display }}
    </td>
    {% if student.student.submission.grade_type == 'hi' %}
    <td class='info text-center'>
    {% elif student.student.submission.grade_type == 'med' %}
    <td class='success text-center'>
    {% elif student.student.submission.grade_type == 'lo' %}
    <td class='warning text-center'>
    {% elif student.student.submission.grade_type == 'fail' %}
    <td class="danger text-center">
    {% else %}
    <td>
    {% endif %}
        {{ student.student.submission.grade }}
        {% if student.student.submission.percentage %}
        ({{ student.student.submission.percentage_string }})
        {% endif %}
    </td>
    <td style='text-align:right'>
        {% if student.student.submission.status == 5 %}
        {% elif student.student.submission %}
            <a href="{% url 'uploader:mark_assignment' assignment.code student.student.submission.id %}" class='btn btn-sm btn-default'>Mark</a>
        {% elif assignment.offline %}
            <a href="{% url 'uploader:mark_assignment_no_submission' assignment.code student.student.id %}" class='btn btn-sm btn-default'>Mark</a>
        {% else %}
            <a href="{% url 'uploader:mark_assignment' assignment.code 'absent' student.student.id %}" class='btn btn-sm btn-default'>Absent</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
    </tbody>  
</table>

<!--<table class='table' style="width:50px; font-size: 0.8em">-->
<!--    <tr><th>Key</th></tr>-->
<!--    <tr class='success'><td>On time</td></tr>-->
<!--    <tr class='warning'><td>Late</td></tr>-->
<!--    <tr class='danger'><td>No submission</td></tr>-->
<!--</table>-->

{% endblock %}