{% extends 'uploader/base.html' %}
{% block head_title %}{{ unit_topic }} Notes{% endblock %}
{% block body_block %}
{% load static %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit_topic' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug  %}">
     {{ unit_topic.title|truncatechars:45 }}</a> >
    {% if request.user.studentprofile %}Test{% else %}Questions{% endif %}
</div>
{% if not request.user.studentprofile %}
    <h2>Questions</h2>
    {% include 'uploader/unit_topic_tabs.html' %}
    {% if request.user.teacherprofile %}
        <div id="add-to-lesson">
    <a href="{% url 'uploader:add_item_to_lesson' unit_topic.slug 'test' %}">
        <button class='btn btn-primary'>
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true" title='Add to lesson'></span>
        Add to lesson
        </button>
    </a>
    </div>
    <p>As a teacher, you can will see the full list of questions, students will see a random set of 10 questions.</p>
    <p>
        <a href="{% url 'uploader:question' unit_topic.slug %}">
            <button class='btn btn-default'>
                <img src="{% static 'uploader/img/18x18/add.png' %}" />
                Add Question</button>
        </a>    
    </p>
    {% endif %}
    {% if questions %}
        {% for question in questions %}
            <p><strong>{{ question.text }}</strong>
            <ul>
                {% for answer in question.answers %}
                    <li>{{ answer.text }}</li>
                {% endfor %}
            </ul>
            </p>
        {% endfor %}
    {% else %}
    <p>No questions</p>
    {% endif %}
{% else %}
<h2>{{ unit_topic }} Test</h2>
<p>
<a class='btn btn-default' href="{% url 'uploader:test_feedback' unit_topic.slug %}">
    <span class="glyphicon glyphicon-ok" aria-hidden="true" title='Preview'></span>
    Feedback
</a>
</p>
    {% if question_count > 0 and questions %}
    <form action method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div class='question'>{{ question.text|linebreaks }}</div>
            <p>
                {% for answer in question.answers %}
                    <input type="radio" name="question{{question.id}}" value="{{ answer.number }}">
                    <label class='answer' for="{{ question.id|add:"-"|add:answer.number }}">{{ answer.text }}</label>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="Check answers" />
    </form>
    {% else %}
    <div align='center'>
    <p>No questions to complete.</p>
    {% if complete_count > 0%}
    <p><strong>{{ complete_count }}</strong> already taken, choose feedback to see your feedback.</p>
    </div>
    {% endif %}
    {% endif %}
{% endif %}
{% endblock %}