{% extends 'uploader/base.html' %}
{% block head_title %}{{ unit_topic }} Notes{% endblock %}
{% block body_block %}
{% load static %}
<h1>{% block head_title %}{{ unit_topic }} Test{% endblock %}</h1>
<p>
<a class='btn btn-default' href="{% url 'uploader:test_feedback' unit_topic.slug %}">
    <span class="glyphicon glyphicon-ok" aria-hidden="true" title='Preview'></span>
    Feedback
</a>
</p>
    {% if questions %}
    <div id="questions">
    <form action method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div class='question'>
                <h3>Question {{ forloop.counter }}</h3>
                {{ question.text|linebreaks }}</div>
            <p>
                {% for answer in question.answers %}
                    <input type="radio" name="question{{question.id}}" value="{{ answer.number }}"
                    {% if forloop.first %}
                    checked="checked"
                    {% endif %}
                    > 
                    <label class='answer' for="{{ question.id|add:"-"|add:answer.number }}">{{ answer.text }}</label> 
                    <br />
                {% endfor %}
            </p>
            <hr />
        {% endfor %}
        
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success" onclick="testRadios()">Check answers</button>
        </div>
    </form>
    </div>
    {% else %}
    <div align='center'>
    <p>No questions to complete.</p>
    {% if complete_count > 0%}
    <p><strong>{{ complete_count }}</strong> already taken, choose feedback to see your feedback.</p>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}