{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:45 }}</a> >
     {{ unit_topic.title|truncatechars:45 }}
  

</div>
<h2>{% block head_title %}{{ unit_topic.title }}{% endblock %}</h2>
<!-- TODO write * -> <li> filter -->
{% if unit_topic.description and unit_topic.description != "" %}
<div id="description">
    {{ unit_topic.description|safe|linebreaks }}
</div>
{% endif %}
{% if notes %}
<h3>Notes</h3>
<p>This unit topic has a set of notes attached, click below to view.</p>
<p><a href="{% url 'uploader:view_notes' unit_topic.slug %}">{{ unit_topic.title }} notes</a></p>
{% else %}
<h3>Notes</h3>
<p>This unit topic doesn't have any notes, click below to add some.</p>
<p><a href="{% url 'uploader:notes' unit_topic.slug %}">Add notes</a></p>
{% endif %}
{% if resources %}
<h3>Resources</h3>
<ul>
{% for resource in resources %}
    {% if resource.bookmark %}
        <li data-type="bookmark"><a href="{% url 'uploader:resource' resource|slugify %}">{{ resource }}</a></li>
    {% else %}
        <li data-type="file"><a href="{% url 'uploader:resource' resource|slugify %}">{{ resource }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% else %}
No resources :( <a href="{% url 'uploader:add_resource' %}">Add some?</a>
{% endif %}
{% endblock %}
