{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit_topic' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug  %}">
     {{ unit_topic.title|truncatechars:45 }}</a> >
     Resources
</div>
<h2>{% block head_title %}{{ unit_topic.title }} Resources{% endblock %}</h2>
<!-- TODO write * -> <li> filter -->
{% if unit_topic.description and unit_topic.description != "" %}
<h3>Description</h3>
<div id="description">
<p>{{ unit_topic.description|safe|linebreaks }}</p>
</div>
{% endif %}
{% if resources %}
<ul>
{% for resource in resources %}
    {% if resource.bookmark %}
        <li data-type="bookmark"><a href="{% url 'uploader:view_resource' resource|slugify %}">{{ resource }}</a></li>
    {% else %}
        <li data-type="file"><a href="{% url 'uploader:view_resource' resource|slugify %}">{{ resource }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% else %}
No resources :( <a href="{% url 'uploader:add_resource' %}">Add some?</a>
{% endif %}
{% endblock %}
