{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit.syllabus.subject.slug %}">
        {{ unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit.syllabus.subject.slug unit.syllabus.exam_level.slug %}">
     {{ unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit.syllabus.subject.slug unit.syllabus.exam_level.slug unit.syllabus.slug%}"> 
     {{ unit.syllabus|truncatechars:45 }}</a> >
     {{ unit.title|truncatechars:45 }}
</div>
<h2>{% block head_title %}{{ unit }}{% endblock %}</h2>
{% if user.is_authenticated %}
<div class="favourite">
    <a class='btn btn-primary' href="{% url 'uploader:add_favourite' 'unit' unit.slug %}">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            Add to favourites
    </a>
</div>
{% endif %}
{% if unit.description %}
<div class="well">
    {{ unit.description|linebreaks }}
</div>
{% endif %}
{% if resources %}
<p>I found no unit topics linked to {{ unit }}, below are resources for this unit.</p>
<div id='resouce_list'>
  <ul>
    {% for resource in resources %}
      {% if resource.file %}
        <li data-type="file"><a href="{% url 'uploader:view_resource' resource.slug %}">
            {{ resource }}</a>
        </li>
        {% else %}
        <li data-type="bookmark"><a href="{% url 'uploader:view_resource' resource.slug %}">
            {{ resource }}</a>
        </li>
        {% endif %}
    {% endfor %}
  </ul>
</div>
{% elif unit_topics %}
    <h3>Unit Resources</h3>
    <p>
        Under topic resources you will find more general resources that
        are too broad for a single unit topic.
    </p>
    <p>
        <a href="{% url 'uploader:unit_resources' unit.syllabus.subject.slug unit.syllabus.slug unit.syllabus.exam_level.slug unit.slug %}">
            View unit resources
        </a>
    </p>
    <br />
    <div id="resouce_list">
        <h3>Unit Topics</h3>
        <!-- As we input data, we can assume that it if the first item has a group, they all do -->
        {% for unit_topic in unit_topics %}
            {% ifchanged %}<h4>{{ unit_topic.section }}</h4>{% endifchanged %}
                  <!--<li>{{ item.name }}: {{ item.population }}</li>-->
                  <li><a href="{% url 'uploader:unit_topic' unit.syllabus.subject.slug unit.syllabus.exam_level.slug unit.syllabus.slug unit.slug unit_topic.slug %}">{{ unit_topic }}</a></li> 
        {% endfor %}
    </div>
{% else %}
<p>No results</p>
{% endif %}
{% endblock %}
