{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.id unit_topic.unit.syllabus.subject.subject_name|slugify %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:25 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.id unit_topic.unit.syllabus.subject.subject_name|slugify unit_topic.unit.syllabus.exam_level.id unit_topic.unit.syllabus.exam_level.level_name|slugify %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:25 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.id unit_topic.unit.syllabus|slugify %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:25 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.id unit_topic.unit.title|slugify %}">
     {{ unit_topic.unit.title|truncatechars:25 }}</a> >
     {{ unit_topic.title|truncatechars:25 }}
  

</div>
<h2>{% block head_title %}{{ unit_topic.title }}{% endblock %}</h2>
<!-- TODO write * -> <li> filter -->
<div id="description">
{% if unit.description %}
    {{ unit.description|safe }}
{% else %}
<!-- TODO add link -->
    No description :( <a>Add one</a>?
{% endif %}
</div>
{% if resources %}
<ul>
{% for resource in resources %}
    {% if resource.bookmark %}
        <li data-type="bookmark"><a href="{% url 'uploader:resource' resource.id resource|slugify %}">{{ resource }}</a></li>
    {% else %}
        <li data-type="file"><a href="{% url 'uploader:resource' resource.id resource|slugify %}">{{ resource }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% else %}
No resources :(
{% endif %}
{% endblock %}
