{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<ol class="breadcrumb">
    <li><a href="{% url 'uploader:subjects' %}">Home</a></li>
    <li><a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:30 }}</a></li>
    <li><a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:30 }}</a></li>
    <li><a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:30 }}</a></li>
    <li><a href="{% url 'uploader:unit' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:30 }}</a></li>
     <li class="active">{{ unit_topic.title|truncatechars:30 }}</li>
</ol>
<h2>{% block head_title %}{{ unit_topic.title }}{% endblock %}</h2>
{% if user.is_authenticated %}
<div class="favourite">
    {% if favourite %}
    <a class='btn btn-primary' href="{% url 'uploader:remove_favourite' 'unit_topic' unit_topic.slug %}">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            Unfavourite
    </a>
    {% else %}
    <a class='btn btn-primary' href="{% url 'uploader:add_favourite' 'unit_topic' unit_topic.slug %}">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            Favourite
    </a>
    {% endif %}
</div>
{% endif %}
{% if unit_topic.description and unit_topic.description != "" %}
<h3>Description</h3>
<div class="well">
    {{ unit_topic.description|safe }}
</div>
{% endif %}
<h3>Information</h3>
<p>For this unit topic, we have the following:</p>
<table class="small-alignment">
<tbody>
<tr>
    <td>
            
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                </td>
    <td>
        <a href="{% url 'uploader:unit_topic_resources' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug %}">
                Resources</a>
    </td>
    <td>
                {% if resources %}<span class="badge">{{ resources }}</span>
                {% else %}<span class="badge">0</span>{% endif %}
                
            
</td></tr>
<tr><td>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </td>
    <td>
        <a href="{% url 'uploader:view_notes' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug %}">
        Notes
        </a>
        </td>
    <td>
        {% if notes %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
</td></tr>
{% if user.teacherprofile %}
<tr><td>
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
        </td>
    <td>
    <a href="{% url 'uploader:unit_lessons' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug %}">
        Lessons
        </td>
    <td>
        {% if lessons %}<span class="badge">{{ lessons }}</span>
        {% else %}<span class="badge">0</span>{% endif %}
</td></tr>
<tr><td>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>  
        </td>
    <td>
        <a href="{% url 'uploader:questions' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug %}">
        Questions
        </a>
        </td>
    <td>
        {% if questions %}<span class="badge">{{ questions }}</span>
        {% else %}<span class="badge">0</span>{% endif %}
    </a>
</td></tr>
</tbody>
</table>
{% endif %}
{% if related_topics %}
    <h3>Related Unit Topics</h3>
    <p>You might also want to check other similar unit topics for resources.</p>
    <ul>
    {% for related in related_topics %}
    <li>
    {% if related.unit_topic_1 == unit_topic %}
        <a href="{% url 'uploader:unit_topic' related.unit_topic_2.unit.syllabus.subject.slug related.unit_topic_2.unit.syllabus.exam_level.slug related.unit_topic_2.unit.syllabus.slug related.unit_topic_2.unit.slug related.unit_topic_2.slug %}">
        {{ related.unit_topic_2.unit.syllabus }} > {{ related.unit_topic_2 }}
        </a>
    {% else %}
        <a href="{% url 'uploader:unit_topic' related.unit_topic_1.unit.syllabus.subject.slug related.unit_topic_1.unit.syllabus.exam_level.slug related.unit_topic_1.unit.syllabus.slug related.unit_topic_1.unit.slug related.unit_topic_1.slug %}">
        {{ related.unit_topic_1.unit.syllabus }} > {{ related.unit_topic_1 }} 
        </a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
