{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="/uploader/">Home</a> > 
    <a href="{% url 'uploader:subject' unit.syllabus.subject.id unit.syllabus.subject.subject_name|slugify %}">
        {{ unit.syllabus.subject.subject_name|truncatechars:25 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit.syllabus.subject.id unit.syllabus.subject.subject_name|slugify unit.syllabus.exam_level.id unit.syllabus.exam_level.level_name|slugify %}">
     {{ unit.syllabus.exam_level.level_name|truncatechars:25 }}</a> >
    <a href="{% url 'uploader:syllabus' unit.syllabus.id unit.syllabus|slugify %}"> 
     {{ unit.syllabus|truncatechars:25 }}</a> >
     {{ unit.title|truncatechars:25 }}
  

</div>
<h2>{{ unit }}</h2>
<!-- TODO write * -> <li> filter -->
{% if unit_topics %}
<ul>
{% for unit_topic in unit_topics %}
  <li><a href="{% url 'uploader:unit_topic' unit_topic.id unit_topic.title|slugify %}">{{ unit_topic.title }}</a></li> 
{% endfor %}
</ul>
{% else %}
No resources :(
{% endif %}
{% endblock %}
