{% extends 'uploader/base.html' %}
{% block body_block %}
<div id="crumbs">
    <a href="{% url 'uploader:index' %}">Home</a> > 
    <a href="{% url 'uploader:subject' unit_topic.unit.syllabus.subject.slug %}">
        {{ unit_topic.unit.syllabus.subject.subject_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabuses' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug %}">
     {{ unit_topic.unit.syllabus.exam_level.level_name|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:syllabus' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug %}"> 
     {{ unit_topic.unit.syllabus|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug %}">
     {{ unit_topic.unit.title|truncatechars:45 }}</a> >
    <a href="{% url 'uploader:unit_topic' unit_topic.unit.syllabus.subject.slug unit_topic.unit.syllabus.exam_level.slug unit_topic.unit.syllabus.slug unit_topic.unit.slug unit_topic.slug  %}">
     {{ unit_topic.title|truncatechars:45 }}</a> >
     Resources
</div>
<h2>{% block head_title %}{{ unit_topic.title }} Resources{% endblock %}</h2>
{% include 'uploader/unit_topic_tabs.html' %}
{% if resources %}
{% for resource in resources %}
    {% if resource.bookmark %}
        <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            <a href="{% url 'uploader:view_resource' resource|slugify %}">{{ resource }}</a></p>
    {% else %}
        <p><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            <a href="{% url 'uploader:view_resource' resource|slugify %}">{{ resource }}</a></p>
    {% endif %}
{% endfor %}
</ul>
{% else %}
No resources :( <a href="{% url 'uploader:add_resource' %}">Add some?</a>
{% endif %}
{% endblock %}
