{% extends 'uploader/base.html' %}
{% block body_block %}
{% load bootstrap %}
{% load static %}
<h1>{% block head_title %}My Lessons{% endblock %}</h1>
{% if lessons %}
<p>Clicking <strong>present</strong> will show you a large screen version of 
the lesson you can display on your board.</p>
<p><a class='btn btn-success' href="{% url 'uploader:lesson_creator' %}">Lesson Creator</a></p>
<table class="table table-striped" >
    <th>Lesson</th>
    <th>Groups</th>
    <th>Unit Topic</th>
    <th>Visibility</th>
    <th>Date</th>
    <th></th>
    
{% for lesson in lessons %}
<tr>
    <td>{{ lesson.title }}</td>
    <td>{% for group in lessons.groups %}
        {{ group }}
        {% endfor %}
    </td>
    <td>
        {{ lesson.unit_topic }}
    </td>
    <td>
        {% if lesson.public %}Public{% else %}Private{% endif %}
    </td>
    <td>{{ lesson.pub_date|date:"d M y" }}</td>
    <td>
        <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'uploader:lesson' lesson.slug %}">
                    <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                    View
                    </a></li>
                <!--<li>-->
                <!--    <a href="% url 'uploader:lesson_show' lesson.code %">-->
                <!--    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>-->
                <!--    Present</a>-->
                <!--</li>-->
                <li><a href="{% url 'uploader:edit_lesson' lesson.code %}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit</a></li>
                    
                <li><a href="{% url 'uploader:link_lesson' lesson.code %}">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    Set Unit Topic</a></li>
                    
                <li><a href="{% url 'uploader:delete_lesson' lesson.code %}" onclick="javascript:return confirm('DELETE this lesson? Your resources won\'t be affected')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title=""></span>
                    Delete</a></li>
                    
              </ul>
            </div>
    </td>
</tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}