{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<h2>{% block head_title %}My Resources{% endblock %}</h2>

{% if resources %}
<h3>Resource</h3>
<p>A resource is a copy of a file or bookmark added to a syllabus, unit or unit
topic. Below is the list of of resources you have added.</p>
<h3>Linking/Unlinking</h3>
<p>Linking makes another copy of a resource and adds it to another syllabus, unit
or unit topic. Unlinking removes the copy but will keep the original file or bookmark.</p>
<p>If you are looking to edit or delete a file or bookmark, you can do so on 
their own page.</p>
<hr />
<table>
    <tr>
        <th></th>
        <th width="16%">Title</th>
        <th>Rating</th>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Unit</th>
        <th>Unit Topic</th>
        <th width="14%">Actions</th>
    </tr>
    {% for resource in resources %}
    <tr> 
        {% if resource.file %}
        <td><img src="{% static 'uploader/img/18x18/folder.png' %}" alt="file" title="file" /></td>
        {% else %}
        <td><img src="{% static 'uploader/img/18x18/bookmark.png' %}" alt="bookmark" title="bookmark" /></td>
        {% endif %}
        <td><a href="{% url 'uploader:view_resource' resource.slug %}">{{ resource }}</a></td>
        <td style='text-align: center'>{{ resource.rating }}</td></t>
        <td>{{ resource.subject }}</td>
        <td>
            <a href="{% url 'uploader:syllabus' resource.syllabus.subject.slug resource.syllabus.exam_level.slug resource.syllabus.slug %}">
            {{ resource.syllabus }}
            </a>
        </td>
        <td>
            {% if resource.unit %}
            <a href="{% url 'uploader:unit' resource.syllabus.subject.slug resource.syllabus.exam_level.slug resource.syllabus.slug resource.unit.slug %}">
            {{ resource.unit }}
            </a>
            {% else %} {{ resource.unit }}
            {% endif %}
        </td>
        <td>
            {% if resource.unit_topic %}
            <a href="{% url 'uploader:unit_topic' resource.syllabus.subject.slug resource.syllabus.exam_level.slug resource.syllabus.slug resource.unit.slug resource.unit_topic.slug %}">
            {{ resource.unit_topic }}
            </a>
            {% else %} {{ resource.unit_topic }}
            {% endif %}
        </td>
        <td style='text-align: center'>
            {% if resource.file %}
            <a href="{% url 'uploader:link_file' resource.file.slug %}">
                <button class="btn">
                <!--<img src="{% static 'uploader/img/18x18/add.png' %}" alt="link" title="link"/>-->
                Add Link
                </button>
            </a>
            <a href="{% url 'uploader:delete_resource' resource.slug %}" onclick="javascript:return confirm('UNLINK this resource? To delete the file, delete it from the files tab')">
                <button class="btn_danger">
                    <!--<img src="{% static 'uploader/img/    18x18/unlink.png' %}" alt="unlink" title="unlink" />-->
                    Unlink
                </button>
            </a>
            {% elif resource.bookmark %}
            <a href="{% url 'uploader:link_bookmark' resource.bookmark.slug %}">
                <button class="btn">
                <!--<img src="{% static 'uploader/img/18x18/add.png' %}" alt="link" title="link"/>-->
                Add Link
                </button>
            </a>
            <a href="{% url 'uploader:delete_resource' resource.slug %}" onclick="javascript:return confirm('UNLINK this resource? To delete the bookmark, delete it from the files tab')">
                <button class="btn_danger">
                <!--<img src="{% static 'uploader/img/18x18/unlink.png' %}" alt="unlink" title="unlink"/>-->
                Unlink
                </button>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endif %}
{% endblock %}