{% extends 'uploader/base.html' %}
{% block body_block %}
{% load bootstrap %}
{% load static %}
<h2>{% block head_title %}My Lessons{% endblock %}</h2>
{% if resources or notes or questions or tasks %}
<p>Below are the list of items you have added so far to your lesson.
If you are happy with the list, you can create it. If you want to add some more,
you can leave, add some more items and come back.</p>
<p>To change the order they will appear, just swap the numbers around.</p>

    <h3>Create new lesson</h3>
    {% for error in form_errors %}
    <div id="error">{{ error }}</div>
    {% endfor %}
    <form role="form" action method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Lesson title</label>
            <input name="title" class="form-control" value="{{ form_data.title }}" placeholder="A short but descriptive title for your lesson" />
        </div>
        <div class="form-group">
            <label for="objectives">Learning Objectives/outcomes</label>
            <textarea name="objectives" class="form-control" value="{{ form_data.objectives }}" placeholder="For bullet points, use * other markdown supported"></textarea>
        </div>
{% else %}
<p>If you add items (resources, notes or questions) to a lesson, they will show up on this page and you can create
new lessons with those items.</p>
{% endif %}
{% if resources %}
    <h3>Lesson items</h3>
    {% for resource in resources %}
        {% if not forloop.first %}<hr />{% endif %}
        <div class="lesson-resource">
        <h4>Resource: {{ resource }}</h3>
        <input type="hidden" name="slug{{ resource.count }}" value="{{ resource.slug }}" />
        <input type="hidden" name="type{{ resource.count }}" value="resources" />
        <div class='order'>
            <p>
                <label for="order{{ resource.count }}">Order</label>
                <input name="order{{ resource.count }}" style="width: 20px" value="{{ resource.count }}" />
            </p>
        </div>
        <div class="instructions">
            <p><label for="instructions{{resource.count}}">Instructions</label>
                <textarea name="instructions{{resource.count}}" class="form-control" value="{{ form_data.val }}"></textarea>
            </p>
        </div>
        </div>
    {% endfor %}
{% endif %}
        
{% if notes %}
    {% for note in notes %}
        {% if not forloop.first %}<hr />{% endif %}
        <h4>Notes: {{ note.unit_topic }}</h4>
        <input type="hidden" name="slug{{ note.count }}" value="{{ note.slug }}" />
        <input type="hidden" name="type{{ note.count }}" value="notes" />
        <div class='order'>
            <p><label for="order{{ note.count }}">Order</label>
            <input name="order{{ note.count }}" style="width: 20px" value="{{ note.count }}" />
        </div>
        <div class="instructions">
            <p><label for="instructions{{note.count}}">Instructions</label>
                <textarea name="instructions{{note.count}}"></textarea>
            </p>
        </div>
        </p>
    {% endfor %}
{% endif %}

{% if tests %}
    {% for test in tests %}
        {% if not forloop.first %}<hr />{% endif %}
        <h4>Test: {{ test }}</h4>
        <input type="hidden" name="slug{{ test.count }}" value="{{ test.slug }}" />
        <input type="hidden" name="type{{ test.count }}" value="test" />
        <div class='order'>
            <p><label for="order{{ test.count }}">Order</label>
            <input name="order{{ test.count }}" style="width: 20px" value="{{ test.count }}" />
        </div>
        <div class="instructions">
            <p><label for="instructions{{test.count}}">Instructions</label>
                <textarea name="instructions{{test.count}}"></textarea>
            </p>
        </div>
        </p>
    {% endfor %}
{% endif %}

{% if tasks %}
    {% for task in tasks %}
        {% if not forloop.first %}<hr />{% endif %}
        <h4>Task</h4>
        <input type="hidden" name="type{{ task }}" value="task" />
        <div class='order'>
            <p><label for="order{{ task }}">Order</label>
            <input name="order{{ task }}" style="width: 20px" value="{{ task }}" />
        </div>
        <div class="instructions">
            <p><label for="instructions{{ task }}">Instructions</label>
                <textarea name="instructions{{ task }}"></textarea>
            </p>
        </div>
    {% endfor %}
{% endif %}

{% if resources or notes or questions or tasks %}
<h4>Visibility</h4>
<div class="checkbox">
    <label>
    <input type="checkbox" name="public" checked="checked" />
    Lesson is visible to others?
    (Recommended unless there are school-specific instructions in the lesson)
    </label>
</div>
<h4>Actions</h4>
<p>To add another task or to clear all items, choose an option and click submit.</p>
<div class="checkbox">
    <label>
    <input type="checkbox" name="add_task" />
        Add empty task?
    </label>
</div>

<div class="checkbox">
<label>
    <input type="checkbox" name="clear">
    Clear current lesson items?</label>
</div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Submit</button>
</div>
    </form>
{% endif %}

{% if lessons %}
<h3>Existing lessons</h3>
<p>Clicking <strong>present</strong> will show you a large screen version of 
the lesson you can display on your board.</p>
<table class="table" style="margin: 0 auto;">
    <th>Lesson</th>
    <th>Visibility</th>
    <th>Short link</th>
    <th>Date</th>
    <th></th>
    
{% for lesson in lessons %}
<tr>
    <td>{{ lesson.title }}</td>
    <td>
        {% if lesson.public %}Public{% else %}Private{% endif %}
    </td>
    <td>{{ lesson.url|urlize }}</td>
    <td>{{ lesson.pub_date|date:"d M y" }}</td>
    <td>
        <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'uploader:lesson' lesson.slug %}">
                    <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                    View
                    </a></li>
                <li>
                    <a href="{% url 'uploader:lesson_show' lesson.slug %}">
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                    Present</a>
                </li>
                <li><a href="{% url 'uploader:edit_lesson' lesson.slug %}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit</a></li>
              </ul>
            </div>
    </td>
</tr>
{% endfor %}
</table>
<div class="row">
    <div class="col-md-12 text-center">
    <ul class="pagination pagination-centered">
        {% if lessons.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ lessons.previous_page_number }}"><</a></li>
        {% endif %}
        
        {% for i in lessons.paginator.page_range %}
            <li {% if lessons.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if lessons.has_next %}
                <li><a href="?page={{ lessons.next_page_number }}">></a></li>
                <li><a href="?page={{ lessons.paginator.num_pages }}">>></a></li>{% endif %}
    </div>
</div>
{% endif %}


{% endblock %}