{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<script>
jQuery(document).ready(function($) {
    $('select').on('change', function (e) {
        // get action
        var valueSelected = this.value;
        if (valueSelected == 'delete') {
            var del = confirm('DELETE these bookmarks?')
            if (del) {
                // get list of bookmarks
                var idSelector = function() { return this.id; };
                var bookmarks = $(":checkbox:checked").map(idSelector).get();
                
                var xmlHttp = null;
                theUrl = '/bulk/bookmark/' + valueSelected + '/' + bookmarks + '/';
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false );
                xmlHttp.send( null );
                window.location.reload()
            }
        }
        

    });
});
</script>
<h2>{% block head_title %}My Bookmarks{% endblock %}</h2>

{% if bookmarks %}
<p>
    <select id='actions'>
        <option>Bulk actions</option>
        <option value='default'>Change type: General website</option>
        <option value='news'>Change type: News website</option>
        <option value='blog'>Change type: Blog</option>
        <option value='info'>Change type: Informational site</option>
        <option value='video'>Change type: Video</option>
        <option value='image'>Change type: Image</option>
        <option value='delete'>DELETE</option>
    </select>
</p>
<table width='100%' class='table'>
    <tr>
        <th></th>
        <th>Type</th>
        <th>Title</th>
        <th>URL</th>
        <th># of Resources using</th>
        <th>Uploaded</th>
        <th></th>
    </tr>
    {% for bookmark in bookmarks %}
    <tr>
        <td>
            <input id='{{bookmark.id}}' type='checkbox' />
        </td>
        <td>
            {% if bookmark.type == 'video' %}
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            {% elif bookmark.type == 'news' %}
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            {% elif bookmark.type == 'image' %}
            <span class="glyphicon glyphicon-image" aria-hidden="true"></span>
            {% elif bookmark.type == 'info' %}
            <span class="glyphicon glyphicon-info" aria-hidden="true"></span>
            {% elif bookmark.type == 'blog' %}
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            {% endif %}
        </td>
        <td>{{ bookmark.title }}</td></t>
        <td><a href="{{ bookmark.link }}">{{ bookmark.link|truncatechars:60 }}</a></td>
        <td style='text-align: center'>{{ bookmark.link_count }}</td>
        <td style='text-align: center'>{{ bookmark.pub_date|date:"d M Y" }}</td>
        <td style='text-align: center'>
             <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'uploader:link_bookmark' bookmark.slug %}">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    Link
                    </a></li>
                <li>
                    <a href="{% url 'uploader:bookmark' bookmark.slug %}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit</a>
                </li>
                <li><a href="{% url 'uploader:delete_bookmark' bookmark.slug %}" onclick="javascript:return confirm('DELETE this bookmark?')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete</a></li>
              </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan='5'>
            <strong>Description: </strong>
            {{ bookmark.description|truncatechars:250 }}
        </td>
    </tr>
    {% endfor %}
</table>
<div class="row">
    <div class="col-md-12 text-center">
    <ul class="pagination pagination-centered">
        {% if bookmarks.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ bookmarks.previous_page_number }}"><</a></li>
        {% endif %}
        
        {% for i in bookmarks.paginator.page_range %}
            <li {% if bookmarks.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if bookmarks.has_next %}
                <li><a href="?page={{ bookmarks.next_page_number }}">></a></li>
                <li><a href="?page={{ bookmarks.paginator.num_pages }}">>></a></li>{% endif %}
    </div>
</div>
{% endif %}
{% endblock %}