{% extends 'uploader/base.html' %}
{% block body_block %}
{% load static %}
<h2>{% block head_title %}My Lessons{% endblock %}</h2>
{% if resources or notes or questions or tasks %}
<p>Below are the list of items you have added so far to your lesson.
If you are happy with the list, you can create it. If you want to add some more,
you can leave, add some more items and come back.</p>
<p>To change the order they will appear, just swap the numbers around.</p>

    <h3>Create new lesson</h3>
    {% for error in form_errors %}
    <div id="error">{{ error }}</div>
    {% endfor %}
    <form action method="post">
        {% csrf_token %}
    <p><label for="title">Lesson title</label><input name="title" value="{{ form_data.title }}" /></p>
    <p><label for="objectives">Learning Objectives/outcomes</label>
        <textarea name="objectives" value="{{ form_data.objectives }}"></textarea></p>
        <p class="help_text">For bullet points, use *. Other markdown supported.</p>
{% else %}
<p>If you add items (resources, notes or questions) to a lesson, they will show up on this page and you can create
new lessons with those items.</p>
{% endif %}
{% if resources %}
    <h3>Lesson items</h3>
    {% for resource in resources %}
        {% if not forloop.first %}<hr />{% endif %}
        <div class="lesson-resource">
        <h4>Resource: {{ resource }}</h3>
        <input type="hidden" name="slug{{ resource.count }}" value="{{ resource.slug }}" />
        <input type="hidden" name="type{{ resource.count }}" value="resources" />
        <div class='order'>
            <p>
                <label for="order{{ resource.count }}">Order</label>
                <input name="order{{ resource.count }}" style="width: 20px" value="{{ resource.count }}" />
            </p>
        </div>
        <div class="instructions">
            <p><label for="instructions{{resource.count}}">Instructions</label>
                <textarea name="instructions{{resource.count}}" value="{{ form_data.val }}"></textarea>
            </p>
        </div>
        </div>
    {% endfor %}
{% endif %}
        
{% if notes %}
    {% for note in notes %}
        {% if not forloop.first %}<hr />{% endif %}
        <h4>Notes: {{ note.unit_topic }}</h4>
        <input type="hidden" name="slug{{ note.count }}" value="{{ note.slug }}" />
        <input type="hidden" name="type{{ note.count }}" value="notes" />
        <div class='order'>
            <p><label for="order{{ note.count }}">Order</label>
            <input name="order{{ note.count }}" style="width: 20px" value="{{ note.count }}" />
        </div>
        <div class="instructions">
            <p><label for="instructions{{note.count}}">Instructions</label>
                <textarea name="instructions{{note.count}}"></textarea>
            </p>
        </div>
        </p>
    {% endfor %}
{% endif %}

{% if tests %}
    {% for test in tests %}
        {% if not forloop.first %}<hr />{% endif %}
        <h4>Test: {{ test }}</h4>
        <input type="hidden" name="slug{{ test.count }}" value="{{ test.slug }}" />
        <input type="hidden" name="type{{ test.count }}" value="test" />
        <div class='order'>
            <p><label for="order{{ test.count }}">Order</label>
            <input name="order{{ test.count }}" style="width: 20px" value="{{ test.count }}" />
        </div>
        <div class="instructions">
            <p><label for="instructions{{test.count}}">Instructions</label>
                <textarea name="instructions{{test.count}}"></textarea>
            </p>
        </div>
        </p>
    {% endfor %}
{% endif %}

{% if tasks %}
    {% for task in tasks %}
        {% if not forloop.first %}<hr />{% endif %}
        <h4>Task</h4>
        <input type="hidden" name="type{{ task }}" value="task" />
        <div class='order'>
            <p><label for="order{{ task }}">Order</label>
            <input name="order{{ task }}" style="width: 20px" value="{{ task }}" />
        </div>
        <div class="instructions">
            <p><label for="instructions{{ task }}">Instructions</label>
                <textarea name="instructions{{ task }}"></textarea>
            </p>
        </div>
    {% endfor %}
{% endif %}

{% if resources or notes or questions or tasks %}
<p>
    <label for="add_task">Add extra blank task? (Click submit after)</label>
    <input type="checkbox" name="add_task" />
        <img src="{% static 'uploader/img/18x18/add.png' %}" />
        Add blank task
</p>
<p>
    <label for="public">Lesson is visible to others?</label>
    <input type="checkbox" name="public" checked="checked" />
    Recommended unless there are school-specific instructions in the lesson
</p>
<p><label>Clear current lesson items?</label>
    <input type="checkbox" name="clear">
    Removes all tasks above
</p>
<p>
    <input type="submit" name="submit" />
</p>
    </form>
{% endif %}

{% if lessons %}
<h3>Existing lessons</h3>
<p>Clicking <strong>present</strong> will show you a large screen version of 
the lesson you can display on your board.</p>
<table style="margin: 0 auto;">
    <th>Lesson</th>
    <th>Visibility</th>
    <th>Short link</th>
    <th>Date</th>
    <th>Actions</th>
    
{% for lesson in lessons %}
<tr>
    <td>{{ lesson.title }}</td>
    <td>
        {% if lesson.public %}Public{% else %}Private{% endif %}
    </td>
    <td>{{ lesson.url|urlize }}</td>
    <td>{{ lesson.pub_date|date:"d M y" }}</td>
    <td>
        <a href="{% url 'uploader:lesson' lesson.slug %}">
            <button class='btn'>
                <img src="{% static 'uploader/img/18x18/eye.png' %}" />
                View</button>
        </a>
        <a href="{% url 'uploader:lesson_show' lesson.slug %}">
            <button class='btn'>
                <img src="{% static 'uploader/img/18x18/website.png' %}" />
                Present</button>
        </a>
        <a href="{% url 'uploader:edit_lesson' lesson.slug %}">
            <button class='btn'>
                <img src="{% static 'uploader/img/18x18/edit.png' %}" />
                Edit
            </button>
        </a>        
        <!--<button class='btn_danger'>Delete</button>-->
    </td>
</tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}