{% if assignments %}
<div class='table-responsive'>
<table class='table table-striped table-condensed'>
    <tr>
        <th>Assignment</th>
        {% if not group and teacher_or_student == 'teacher' %}
            <th>Group</th>
            <!--<th>Set</th>-->
        {% elif teacher_or_student == 'student' %}
            <th>Class</th>
        {% endif %}
        <th>Deadline</th>
        
        {% if teacher_or_student == 'student' %}
            <th>Status</th>
        {% endif %}
            <th></th>
        
        {% for assignment in assignments %}
            {% if teacher_or_student == 'teacher' %}
            <tr>
                <td>
                <a href="{% url 'uploader:view_assignment' assignment.code %}">{{ assignment.title }}</a>
                </td>
                {% if not group %}
                    <td>{{ assignment.group }}</td>
                {% endif %}
                <td>{{ assignment.deadline }}</td>
                <!--<td>{{ assignment.pub_date }}</td>-->
                    <td align='right'>
                        <a href="{% url 'uploader:assignment' assignment.code %}" class='btn btn-xs btn-default'>
                            <span style="font-size: 0.9em" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            Edit
                        </a>
                        <a href="{% url 'uploader:delete_assignment' assignment.code %}" class='btn btn-xs btn-danger' onclick="javascript:return confirm('DELETE this assignment? All student work will be deleted too')">
                            <span style="font-size: 0.9em" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Delete
                        </a>
                    </td>
            {% else %}
                {% if assignment.get_status_display == 'Marked' %}
                <tr class='success'>
                {% elif assignment.get_status_display == 'Not Marked' %}
                <tr>
                {% else %}
                <tr class='danger'>
                {% endif %}
                <td>{{ assignment.assignment.title }}</td>
                <td>{{ assignment.assignment.group }}</td>
                <td>{{ assignment.assignment.deadline }}</td>
                <td>{{ assignment.get_status_display }}</td>
                <td>
                    <a class='btn btn-default btn-xs' href="{% url 'uploader:view_assignment' assignment.assignment.code %}">
                        View feedback
                    </a>
                </td>
            {% endif %}
            </tr>

        {% endfor %}
    </tr>
</table>
</div>
{% else %}
<p>No assignments.</p>
{% endif %}