<div class='table-responsive' style='width: 100%; overflow: auto;'>
<table class='table' style=" display: table; table-layout: fixed; width: 100%;">
    <tr>
        <th>Assignment</th>
        <th>Group</th>
        <!--<th>Status</th>-->
        <th>Set</th>
        <th>Deadline</th>
        <!--<th></th>-->
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment }}</td>
            <td>{{ test.group }}</td>
            <!--<td></td>-->
            <td>{{ assignment.pub_date }}</td>
            <td>{{ assignment.deadline }}</td>
            <!--{% if teacher_or_student == 'teacher' %}-->
            <!--<td><a href="" class='btn btn-default'>View Test</a></td>-->
            <!--{% else %}-->
            <!--<td>student</td>-->
            <!--{% endif %}-->
        </tr>
        {% endfor %}
    </tr>
</table>
</div>
<a href="{% url 'uploader:add_assignment' %}">
    <button class='btn btn-success'>New assignment</button>
</a>