{% if tests %}
<div class='table-responsive'>
<table class='table table-striped table-condensed'>
    <tr>
        <th>Test</th>
        {% if not group %}<th>Group</th>{% endif %}
        <!--<th>Status</th>-->
        <th>Set</th>
        <th>Deadline</th>
        <!--<th></th>-->
        {% for test in tests %}
        <tr>
            <td>{{ test }}</td>
            {% if not group %}<td>{{ test.group }}</td>{% endif %}
            <!--<td></td>-->
            <td>{{ test.pub_date }}</td>
            <td>{{ test.deadline }}</td>
            <!--{% if teacher_or_student == 'teacher' %}-->
            <!--<td><a href="" class='btn btn-default'>View Test</a></td>-->
            <!--{% else %}-->
            <!--<td>student</td>-->
            <!--{% endif %}-->
        </tr>
        {% endfor %}
    </tr>
</table>
</div>
{% else %}
    <p>No tests</p>
{% endif %}